openapi: 3.0.1
info:
  title: ChangeNotifications
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /subscriptions:
    get:
      tags:
        - subscriptions.subscription
      summary: Get entities from subscriptions
      operationId: subscriptions.subscription_ListSubscription
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - applicationId
                - applicationId desc
                - changeType
                - changeType desc
                - clientState
                - clientState desc
                - creatorId
                - creatorId desc
                - encryptionCertificate
                - encryptionCertificate desc
                - encryptionCertificateId
                - encryptionCertificateId desc
                - expirationDateTime
                - expirationDateTime desc
                - includeResourceData
                - includeResourceData desc
                - latestSupportedTlsVersion
                - latestSupportedTlsVersion desc
                - lifecycleNotificationUrl
                - lifecycleNotificationUrl desc
                - notificationContentType
                - notificationContentType desc
                - notificationQueryOptions
                - notificationQueryOptions desc
                - notificationUrl
                - notificationUrl desc
                - notificationUrlAppId
                - notificationUrlAppId desc
                - resource
                - resource desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - changeType
                - clientState
                - creatorId
                - encryptionCertificate
                - encryptionCertificateId
                - expirationDateTime
                - includeResourceData
                - latestSupportedTlsVersion
                - lifecycleNotificationUrl
                - notificationContentType
                - notificationQueryOptions
                - notificationUrl
                - notificationUrlAppId
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of subscription
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.subscription'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - subscriptions.subscription
      summary: Add new entity to subscriptions
      operationId: subscriptions.subscription_CreateSubscription
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/subscriptions/{subscription-id}':
    get:
      tags:
        - subscriptions.subscription
      summary: Get entity from subscriptions by key
      operationId: subscriptions.subscription_GetSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - applicationId
                - changeType
                - clientState
                - creatorId
                - encryptionCertificate
                - encryptionCertificateId
                - expirationDateTime
                - includeResourceData
                - latestSupportedTlsVersion
                - lifecycleNotificationUrl
                - notificationContentType
                - notificationQueryOptions
                - notificationUrl
                - notificationUrlAppId
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.subscription'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - subscriptions.subscription
      summary: Update entity in subscriptions
      operationId: subscriptions.subscription_UpdateSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.subscription'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - subscriptions.subscription
      summary: Delete entity from subscriptions
      operationId: subscriptions.subscription_DeleteSubscription
      parameters:
        - name: subscription-id
          in: path
          description: 'key: id of subscription'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: subscription
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.subscription:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: subscription
          type: object
          properties:
            applicationId:
              type: string
              nullable: true
            changeType:
              type: string
            clientState:
              type: string
              nullable: true
            creatorId:
              type: string
              nullable: true
            encryptionCertificate:
              type: string
              nullable: true
            encryptionCertificateId:
              type: string
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
            includeResourceData:
              type: boolean
              nullable: true
            latestSupportedTlsVersion:
              type: string
              nullable: true
            lifecycleNotificationUrl:
              type: string
              nullable: true
            notificationContentType:
              type: string
              nullable: true
            notificationQueryOptions:
              type: string
              nullable: true
            notificationUrl:
              type: string
            notificationUrlAppId:
              type: string
              nullable: true
            resource:
              type: string
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]