openapi: 3.0.1
info:
  title: CrossDeviceExperiences
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/activities':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_ListActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activationUrl
                - activationUrl desc
                - activitySourceHost
                - activitySourceHost desc
                - appActivityId
                - appActivityId desc
                - appDisplayName
                - appDisplayName desc
                - contentInfo
                - contentInfo desc
                - contentUrl
                - contentUrl desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - fallbackUrl
                - fallbackUrl desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
                - visualElements
                - visualElements desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of userActivity
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.userActivity'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to activities for users
      operationId: users_CreateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}':
    get:
      tags:
        - users.userActivity
      summary: Get activities from users
      operationId: users_GetActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.Activities.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property activities in users
      operationId: users_UpdateActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.userActivity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property activities for users
      operationId: users_DeleteActivities
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_ListHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeDurationSeconds
                - activeDurationSeconds desc
                - createdDateTime
                - createdDateTime desc
                - expirationDateTime
                - expirationDateTime desc
                - lastActiveDateTime
                - lastActiveDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - startedDateTime
                - startedDateTime desc
                - status
                - status desc
                - userTimezone
                - userTimezone desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of activityHistoryItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.userActivity
      summary: Create new navigation property to historyItems for users
      operationId: users.activities_CreateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}':
    get:
      tags:
        - users.userActivity
      summary: Get historyItems from users
      operationId: users.activities_GetHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeDurationSeconds
                - createdDateTime
                - expirationDateTime
                - lastActiveDateTime
                - lastModifiedDateTime
                - startedDateTime
                - status
                - userTimezone
                - activity
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - activity
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
          links:
            activity:
              operationId: users.activities.HistoryItems.GetActivity
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.userActivity
      summary: Update the navigation property historyItems in users
      operationId: users.activities_UpdateHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete navigation property historyItems for users
      operationId: users.activities_DeleteHistoryItems
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity':
    get:
      tags:
        - users.userActivity
      summary: Get activity from users
      operationId: users.activities.historyItems_GetActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activationUrl
                - activitySourceHost
                - appActivityId
                - appDisplayName
                - contentInfo
                - contentUrl
                - createdDateTime
                - expirationDateTime
                - fallbackUrl
                - lastModifiedDateTime
                - status
                - userTimezone
                - visualElements
                - historyItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - historyItems
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.userActivity'
          links:
            historyItems:
              operationId: users.activities.historyItems.Activity.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/activities/{userActivity-id}/historyItems/{activityHistoryItem-id}/activity/$ref':
    get:
      tags:
        - users.userActivity
      summary: Get ref of activity from users
      operationId: users.activities.historyItems_GetRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            historyItems:
              operationId: users.activities.historyItems.Activity.ListHistoryItems
              parameters:
                user-id: $request.path.user-id
                userActivity-id: $request.path.userActivity-id
                activityHistoryItem-id: $request.path.activityHistoryItem-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.userActivity
      summary: Update the ref of navigation property activity in users
      operationId: users.activities.historyItems_SetRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.userActivity
      summary: Delete ref of navigation property activity for users
      operationId: users.activities.historyItems_DeleteRefActivity
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: userActivity-id
          in: path
          description: 'key: id of userActivity'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: userActivity
        - name: activityHistoryItem-id
          in: path
          description: 'key: id of activityHistoryItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: activityHistoryItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_ListDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - accountEnabled
                - accountEnabled desc
                - alternativeSecurityIds
                - alternativeSecurityIds desc
                - approximateLastSignInDateTime
                - approximateLastSignInDateTime desc
                - complianceExpirationDateTime
                - complianceExpirationDateTime desc
                - deviceCategory
                - deviceCategory desc
                - deviceId
                - deviceId desc
                - deviceMetadata
                - deviceMetadata desc
                - deviceOwnership
                - deviceOwnership desc
                - deviceVersion
                - deviceVersion desc
                - displayName
                - displayName desc
                - domainName
                - domainName desc
                - enrollmentProfileName
                - enrollmentProfileName desc
                - enrollmentType
                - enrollmentType desc
                - extensionAttributes
                - extensionAttributes desc
                - hostnames
                - hostnames desc
                - isCompliant
                - isCompliant desc
                - isManaged
                - isManaged desc
                - isRooted
                - isRooted desc
                - managementType
                - managementType desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - operatingSystem
                - operatingSystem desc
                - operatingSystemVersion
                - operatingSystemVersion desc
                - physicalIds
                - physicalIds desc
                - profileType
                - profileType desc
                - registrationDateTime
                - registrationDateTime desc
                - systemLabels
                - systemLabels desc
                - trustType
                - trustType desc
                - kind
                - kind desc
                - manufacturer
                - manufacturer desc
                - model
                - model desc
                - name
                - name desc
                - platform
                - platform desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of device
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.device'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to devices for users
      operationId: users_CreateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}':
    get:
      tags:
        - users.device
      summary: Get devices from users
      operationId: users_GetDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - alternativeSecurityIds
                - approximateLastSignInDateTime
                - complianceExpirationDateTime
                - deviceCategory
                - deviceId
                - deviceMetadata
                - deviceOwnership
                - deviceVersion
                - displayName
                - domainName
                - enrollmentProfileName
                - enrollmentType
                - extensionAttributes
                - hostnames
                - isCompliant
                - isManaged
                - isRooted
                - managementType
                - onPremisesLastSyncDateTime
                - onPremisesSyncEnabled
                - operatingSystem
                - operatingSystemVersion
                - physicalIds
                - profileType
                - registrationDateTime
                - systemLabels
                - trustType
                - kind
                - manufacturer
                - model
                - name
                - platform
                - status
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - usageRights
                - memberOf
                - registeredOwners
                - registeredUsers
                - transitiveMemberOf
                - extensions
                - commands
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.device'
          links:
            usageRights:
              operationId: users.Devices.ListUsageRights
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            memberOf:
              operationId: users.Devices.ListMemberOf
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredOwners:
              operationId: users.Devices.ListRegisteredOwners
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            registeredUsers:
              operationId: users.Devices.ListRegisteredUsers
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            transitiveMemberOf:
              operationId: users.Devices.ListTransitiveMemberOf
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            extensions:
              operationId: users.Devices.ListExtensions
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
            commands:
              operationId: users.Devices.ListCommands
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property devices in users
      operationId: users_UpdateDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.device'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property devices for users
      operationId: users_DeleteDevices
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands':
    get:
      tags:
        - users.device
      summary: Get commands from users
      operationId: users.devices_ListCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - appServiceName
                - appServiceName desc
                - error
                - error desc
                - packageFamilyName
                - packageFamilyName desc
                - payload
                - payload desc
                - permissionTicket
                - permissionTicket desc
                - postBackUri
                - postBackUri desc
                - status
                - status desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appServiceName
                - error
                - packageFamilyName
                - payload
                - permissionTicket
                - postBackUri
                - status
                - type
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of command
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.command'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to commands for users
      operationId: users.devices_CreateCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands/{command-id}':
    get:
      tags:
        - users.device
      summary: Get commands from users
      operationId: users.devices_GetCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - appServiceName
                - error
                - packageFamilyName
                - payload
                - permissionTicket
                - postBackUri
                - status
                - type
                - responsepayload
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - responsepayload
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.command'
          links:
            responsepayload:
              operationId: users.devices.Commands.GetResponsepayload
              parameters:
                user-id: $request.path.user-id
                device-id: $request.path.device-id
                command-id: $request.path.command-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property commands in users
      operationId: users.devices_UpdateCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.command'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property commands for users
      operationId: users.devices_DeleteCommands
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands/{command-id}/responsepayload':
    get:
      tags:
        - users.device
      summary: Get responsepayload from users
      operationId: users.devices.commands_GetResponsepayload
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.payloadResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/commands/{command-id}/responsepayload/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of responsepayload from users
      operationId: users.devices.commands_GetRefResponsepayload
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.device
      summary: Update the ref of navigation property responsepayload in users
      operationId: users.devices.commands_SetRefResponsepayload
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property responsepayload for users
      operationId: users.devices.commands_DeleteRefResponsepayload
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: command-id
          in: path
          description: 'key: id of command'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: command
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/extensions':
    get:
      tags:
        - users.device
      summary: Get extensions from users
      operationId: users.devices_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to extensions for users
      operationId: users.devices_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/extensions/{extension-id}':
    get:
      tags:
        - users.device
      summary: Get extensions from users
      operationId: users.devices_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property extensions in users
      operationId: users.devices_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property extensions for users
      operationId: users.devices_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/memberOf':
    get:
      tags:
        - users.device
      summary: Get memberOf from users
      operationId: users.devices_ListMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/memberOf/{directoryObject-id}/$ref':
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property memberOf for users
      operationId: users.devices_DeleteRefMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/memberOf/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of memberOf from users
      operationId: users.devices_ListRefMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property ref to memberOf for users
      operationId: users.devices_CreateRefMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners':
    get:
      tags:
        - users.device
      summary: Get registeredOwners from users
      operationId: users.devices_ListRegisteredOwners
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners/{directoryObject-id}/$ref':
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property registeredOwners for users
      operationId: users.devices_DeleteRefRegisteredOwners
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredOwners/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of registeredOwners from users
      operationId: users.devices_ListRefRegisteredOwners
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property ref to registeredOwners for users
      operationId: users.devices_CreateRefRegisteredOwners
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredUsers':
    get:
      tags:
        - users.device
      summary: Get registeredUsers from users
      operationId: users.devices_ListRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredUsers/{directoryObject-id}/$ref':
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property registeredUsers for users
      operationId: users.devices_DeleteRefRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/registeredUsers/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of registeredUsers from users
      operationId: users.devices_ListRefRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property ref to registeredUsers for users
      operationId: users.devices_CreateRefRegisteredUsers
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/transitiveMemberOf':
    get:
      tags:
        - users.device
      summary: Get transitiveMemberOf from users
      operationId: users.devices_ListTransitiveMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/transitiveMemberOf/{directoryObject-id}/$ref':
    delete:
      tags:
        - users.device
      summary: Delete ref of navigation property transitiveMemberOf for users
      operationId: users.devices_DeleteRefTransitiveMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/transitiveMemberOf/$ref':
    get:
      tags:
        - users.device
      summary: Get ref of transitiveMemberOf from users
      operationId: users.devices_ListRefTransitiveMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property ref to transitiveMemberOf for users
      operationId: users.devices_CreateRefTransitiveMemberOf
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/usageRights':
    get:
      tags:
        - users.device
      summary: Get usageRights from users
      operationId: users.devices_ListUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - catalogId
                - catalogId desc
                - serviceIdentifier
                - serviceIdentifier desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalogId
                - serviceIdentifier
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of usageRight
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.usageRight'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.device
      summary: Create new navigation property to usageRights for users
      operationId: users.devices_CreateUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usageRight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usageRight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/devices/{device-id}/usageRights/{usageRight-id}':
    get:
      tags:
        - users.device
      summary: Get usageRights from users
      operationId: users.devices_GetUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usageRight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - catalogId
                - serviceIdentifier
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usageRight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.device
      summary: Update the navigation property usageRights in users
      operationId: users.devices_UpdateUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usageRight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usageRight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.device
      summary: Delete navigation property usageRights for users
      operationId: users.devices_DeleteUsageRights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: device-id
          in: path
          description: 'key: id of device'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: device
        - name: usageRight-id
          in: path
          description: 'key: id of usageRight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usageRight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.userActivity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: userActivity
          type: object
          properties:
            activationUrl:
              type: string
            activitySourceHost:
              type: string
            appActivityId:
              type: string
            appDisplayName:
              type: string
              nullable: true
            contentInfo:
              $ref: '#/components/schemas/microsoft.graph.Json'
            contentUrl:
              type: string
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            fallbackUrl:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.status'
            userTimezone:
              type: string
              nullable: true
            visualElements:
              $ref: '#/components/schemas/microsoft.graph.visualInfo'
            historyItems:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.activityHistoryItem'
          additionalProperties:
            type: object
    microsoft.graph.activityHistoryItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: activityHistoryItem
          type: object
          properties:
            activeDurationSeconds:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            expirationDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastActiveDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
[...]
