openapi: 3.0.1
info:
  title: DeviceManagement
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /deviceManagement:
    get:
      tags:
        - deviceManagement.deviceManagement
      summary: Get deviceManagement
      operationId: deviceManagement.deviceManagement_GetDeviceManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deviceComplianceReportSummarizationDateTime
                - intuneAccountId
                - lastReportAggregationDateTime
                - legacyPcManangementEnabled
                - maximumDepTokens
                - settings
                - unlicensedAdminstratorsEnabled
                - intuneBrand
                - accountMoveCompletionDateTime
                - adminConsent
                - deviceProtectionOverview
                - managedDeviceCleanupSettings
                - subscriptions
                - subscriptionState
                - userExperienceAnalyticsSettings
                - windowsMalwareOverview
                - androidDeviceOwnerEnrollmentProfiles
                - virtualEndpoint
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - chromeOSOnboardingSettings
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - configurationCategories
                - configurationPolicies
                - configurationPolicyTemplates
                - configurationSettings
                - reusablePolicySettings
                - reusableSettings
                - templateSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - cloudPCConnectivityIssues
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - remoteActionAudits
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDeviceMetricHistory
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceScores
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsDevicesWithoutCloudIdentity
                - userExperienceAnalyticsImpactingProcess
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsModelScores
                - userExperienceAnalyticsNotAutopilotReadyDevice
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsRemoteConnection
                - userExperienceAnalyticsResourcePerformance
                - userExperienceAnalyticsScoreHistory
                - userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
                - userExperienceAnalyticsWorkFromAnywhereMetrics
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - managementConditions
                - managementConditionStatements
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - reports
                - microsoftTunnelConfigurations
                - microsoftTunnelHealthThresholds
                - microsoftTunnelServerLogCollectionResponses
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - remoteAssistanceSettings
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsDriverUpdateProfiles
                - windowsFeatureUpdateProfiles
                - windowsQualityUpdateProfiles
                - windowsUpdateCatalogItems
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - userPfxCertificates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - androidDeviceOwnerEnrollmentProfiles
                - virtualEndpoint
                - androidForWorkAppConfigurationSchemas
                - androidForWorkEnrollmentProfiles
                - androidForWorkSettings
                - androidManagedStoreAccountEnterpriseSettings
                - androidManagedStoreAppConfigurationSchemas
                - auditEvents
                - assignmentFilters
                - chromeOSOnboardingSettings
                - termsAndConditions
                - advancedThreatProtectionOnboardingStateSummary
                - cartToClassAssociations
                - deviceCompliancePolicies
                - deviceCompliancePolicyDeviceStateSummary
                - deviceCompliancePolicySettingStateSummaries
                - deviceConfigurationConflictSummary
                - deviceConfigurationDeviceStateSummaries
                - deviceConfigurationRestrictedAppsViolations
                - deviceConfigurations
                - deviceConfigurationsAllManagedDeviceCertificateStates
                - deviceConfigurationUserStateSummaries
                - iosUpdateStatuses
                - macOSSoftwareUpdateAccountSummaries
                - managedDeviceEncryptionStates
                - ndesConnectors
                - softwareUpdateStatusSummary
                - configurationCategories
                - configurationPolicies
                - configurationPolicyTemplates
                - configurationSettings
                - reusablePolicySettings
                - reusableSettings
                - templateSettings
                - complianceManagementPartners
                - conditionalAccessSettings
                - deviceCategories
                - deviceEnrollmentConfigurations
                - deviceManagementPartners
                - exchangeConnectors
                - exchangeOnPremisesPolicies
                - exchangeOnPremisesPolicy
                - mobileThreatDefenseConnectors
                - categories
                - intents
                - settingDefinitions
                - templates
                - applePushNotificationCertificate
                - cloudPCConnectivityIssues
                - comanagedDevices
                - comanagementEligibleDevices
                - dataSharingConsents
                - detectedApps
                - deviceComplianceScripts
                - deviceCustomAttributeShellScripts
                - deviceHealthScripts
                - deviceManagementScripts
                - deviceShellScripts
                - managedDeviceOverview
                - managedDevices
                - mobileAppTroubleshootingEvents
                - remoteActionAudits
                - userExperienceAnalyticsAppHealthApplicationPerformance
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails
                - userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId
                - userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
                - userExperienceAnalyticsAppHealthDeviceModelPerformance
                - userExperienceAnalyticsAppHealthDevicePerformance
                - userExperienceAnalyticsAppHealthDevicePerformanceDetails
                - userExperienceAnalyticsAppHealthOSVersionPerformance
                - userExperienceAnalyticsAppHealthOverview
                - userExperienceAnalyticsBaselines
                - userExperienceAnalyticsCategories
                - userExperienceAnalyticsDeviceMetricHistory
                - userExperienceAnalyticsDevicePerformance
                - userExperienceAnalyticsDeviceScores
                - userExperienceAnalyticsDeviceStartupHistory
                - userExperienceAnalyticsDeviceStartupProcesses
                - userExperienceAnalyticsDeviceStartupProcessPerformance
                - userExperienceAnalyticsDevicesWithoutCloudIdentity
                - userExperienceAnalyticsImpactingProcess
                - userExperienceAnalyticsMetricHistory
                - userExperienceAnalyticsModelScores
                - userExperienceAnalyticsNotAutopilotReadyDevice
                - userExperienceAnalyticsOverview
                - userExperienceAnalyticsRegressionSummary
                - userExperienceAnalyticsRemoteConnection
                - userExperienceAnalyticsResourcePerformance
                - userExperienceAnalyticsScoreHistory
                - userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
                - userExperienceAnalyticsWorkFromAnywhereMetrics
                - windowsMalwareInformation
                - derivedCredentials
                - resourceAccessProfiles
                - appleUserInitiatedEnrollmentProfiles
                - depOnboardingSettings
                - importedDeviceIdentities
                - importedWindowsAutopilotDeviceIdentities
                - windowsAutopilotDeploymentProfiles
                - windowsAutopilotDeviceIdentities
                - windowsAutopilotSettings
                - managementConditions
                - managementConditionStatements
                - groupPolicyMigrationReports
                - groupPolicyObjectFiles
                - groupPolicyCategories
                - groupPolicyConfigurations
                - groupPolicyDefinitionFiles
                - groupPolicyDefinitions
                - groupPolicyUploadedDefinitionFiles
                - reports
                - microsoftTunnelConfigurations
                - microsoftTunnelHealthThresholds
                - microsoftTunnelServerLogCollectionResponses
                - microsoftTunnelSites
                - notificationMessageTemplates
                - domainJoinConnectors
                - configManagerCollections
                - resourceOperations
                - roleAssignments
                - roleDefinitions
                - roleScopeTags
                - remoteAssistancePartners
                - remoteAssistanceSettings
                - embeddedSIMActivationCodePools
                - telecomExpenseManagementPartners
                - autopilotEvents
                - troubleshootingEvents
                - windowsDriverUpdateProfiles
                - windowsFeatureUpdateProfiles
                - windowsQualityUpdateProfiles
                - windowsUpdateCatalogItems
                - intuneBrandingProfiles
                - windowsInformationProtectionAppLearningSummaries
                - windowsInformationProtectionNetworkLearningSummaries
                - userPfxCertificates
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagement'
          links:
            androidDeviceOwnerEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidDeviceOwnerEnrollmentProfiles
            virtualEndpoint:
              operationId: deviceManagement.GetVirtualEndpoint
            androidForWorkAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidForWorkAppConfigurationSchemas
            androidForWorkEnrollmentProfiles:
              operationId: deviceManagement.ListAndroidForWorkEnrollmentProfiles
            androidForWorkSettings:
              operationId: deviceManagement.GetAndroidForWorkSettings
            androidManagedStoreAccountEnterpriseSettings:
              operationId: deviceManagement.GetAndroidManagedStoreAccountEnterpriseSettings
            androidManagedStoreAppConfigurationSchemas:
              operationId: deviceManagement.ListAndroidManagedStoreAppConfigurationSchemas
            auditEvents:
              operationId: deviceManagement.ListAuditEvents
            assignmentFilters:
              operationId: deviceManagement.ListAssignmentFilters
            chromeOSOnboardingSettings:
              operationId: deviceManagement.ListChromeOSOnboardingSettings
            termsAndConditions:
              operationId: deviceManagement.ListTermsAndConditions
            advancedThreatProtectionOnboardingStateSummary:
              operationId: deviceManagement.GetAdvancedThreatProtectionOnboardingStateSummary
            cartToClassAssociations:
              operationId: deviceManagement.ListCartToClassAssociations
            deviceCompliancePolicies:
              operationId: deviceManagement.ListDeviceCompliancePolicies
            deviceCompliancePolicyDeviceStateSummary:
              operationId: deviceManagement.GetDeviceCompliancePolicyDeviceStateSummary
            deviceCompliancePolicySettingStateSummaries:
              operationId: deviceManagement.ListDeviceCompliancePolicySettingStateSummaries
            deviceConfigurationConflictSummary:
              operationId: deviceManagement.ListDeviceConfigurationConflictSummary
            deviceConfigurationDeviceStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationDeviceStateSummaries
            deviceConfigurationRestrictedAppsViolations:
              operationId: deviceManagement.ListDeviceConfigurationRestrictedAppsViolations
            deviceConfigurations:
              operationId: deviceManagement.ListDeviceConfigurations
            deviceConfigurationsAllManagedDeviceCertificateStates:
              operationId: deviceManagement.ListDeviceConfigurationsAllManagedDeviceCertificateStates
            deviceConfigurationUserStateSummaries:
              operationId: deviceManagement.GetDeviceConfigurationUserStateSummaries
            iosUpdateStatuses:
              operationId: deviceManagement.ListIosUpdateStatuses
            macOSSoftwareUpdateAccountSummaries:
              operationId: deviceManagement.ListMacOSSoftwareUpdateAccountSummaries
            managedDeviceEncryptionStates:
              operationId: deviceManagement.ListManagedDeviceEncryptionStates
            ndesConnectors:
              operationId: deviceManagement.ListNdesConnectors
            softwareUpdateStatusSummary:
              operationId: deviceManagement.GetSoftwareUpdateStatusSummary
            configurationCategories:
              operationId: deviceManagement.ListConfigurationCategories
            configurationPolicies:
              operationId: deviceManagement.ListConfigurationPolicies
            configurationPolicyTemplates:
              operationId: deviceManagement.ListConfigurationPolicyTemplates
            configurationSettings:
              operationId: deviceManagement.ListConfigurationSettings
            reusablePolicySettings:
              operationId: deviceManagement.ListReusablePolicySettings
            reusableSettings:
              operationId: deviceManagement.ListReusableSettings
            templateSettings:
              operationId: deviceManagement.ListTemplateSettings
            complianceManagementPartners:
              operationId: deviceManagement.ListComplianceManagementPartners
            conditionalAccessSettings:
              operationId: deviceManagement.GetConditionalAccessSettings
            deviceCategories:
              operationId: deviceManagement.ListDeviceCategories
            deviceEnrollmentConfigurations:
              operationId: deviceManagement.ListDeviceEnrollmentConfigurations
            deviceManagementPartners:
              operationId: deviceManagement.ListDeviceManagementPartners
            exchangeConnectors:
              operationId: deviceManagement.ListExchangeConnectors
            exchangeOnPremisesPolicies:
              operationId: deviceManagement.ListExchangeOnPremisesPolicies
            exchangeOnPremisesPolicy:
              operationId: deviceManagement.GetExchangeOnPremisesPolicy
            mobileThreatDefenseConnectors:
              operationId: deviceManagement.ListMobileThreatDefenseConnectors
            categories:
              operationId: deviceManagement.ListCategories
            intents:
              operationId: deviceManagement.ListIntents
            settingDefinitions:
              operationId: deviceManagement.ListSettingDefinitions
            templates:
              operationId: deviceManagement.ListTemplates
            applePushNotificationCertificate:
              operationId: deviceManagement.GetApplePushNotificationCertificate
            cloudPCConnectivityIssues:
              operationId: deviceManagement.ListCloudPCConnectivityIssues
            comanagedDevices:
              operationId: deviceManagement.ListComanagedDevices
            comanagementEligibleDevices:
              operationId: deviceManagement.ListComanagementEligibleDevices
            dataSharingConsents:
              operationId: deviceManagement.ListDataSharingConsents
            detectedApps:
              operationId: deviceManagement.ListDetectedApps
            deviceComplianceScripts:
              operationId: deviceManagement.ListDeviceComplianceScripts
            deviceCustomAttributeShellScripts:
              operationId: deviceManagement.ListDeviceCustomAttributeShellScripts
            deviceHealthScripts:
              operationId: deviceManagement.ListDeviceHealthScripts
            deviceManagementScripts:
              operationId: deviceManagement.ListDeviceManagementScripts
            deviceShellScripts:
              operationId: deviceManagement.ListDeviceShellScripts
            managedDeviceOverview:
              operationId: deviceManagement.GetManagedDeviceOverview
            managedDevices:
              operationId: deviceManagement.ListManagedDevices
            mobileAppTroubleshootingEvents:
              operationId: deviceManagement.ListMobileAppTroubleshootingEvents
            remoteActionAudits:
              operationId: deviceManagement.ListRemoteActionAudits
            userExperienceAnalyticsAppHealthApplicationPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformance
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByAppVersion
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDetails
            userExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByAppVersionDeviceId
            userExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthApplicationPerformanceByOSVersion
            userExperienceAnalyticsAppHealthDeviceModelPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDeviceModelPerformance
            userExperienceAnalyticsAppHealthDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformance
            userExperienceAnalyticsAppHealthDevicePerformanceDetails:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthDevicePerformanceDetails
            userExperienceAnalyticsAppHealthOSVersionPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsAppHealthOSVersionPerformance
            userExperienceAnalyticsAppHealthOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsAppHealthOverview
            userExperienceAnalyticsBaselines:
              operationId: deviceManagement.ListUserExperienceAnalyticsBaselines
            userExperienceAnalyticsCategories:
              operationId: deviceManagement.ListUserExperienceAnalyticsCategories
            userExperienceAnalyticsDeviceMetricHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceMetricHistory
            userExperienceAnalyticsDevicePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDevicePerformance
            userExperienceAnalyticsDeviceScores:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceScores
            userExperienceAnalyticsDeviceStartupHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupHistory
            userExperienceAnalyticsDeviceStartupProcesses:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcesses
            userExperienceAnalyticsDeviceStartupProcessPerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsDeviceStartupProcessPerformance
            userExperienceAnalyticsDevicesWithoutCloudIdentity:
              operationId: deviceManagement.ListUserExperienceAnalyticsDevicesWithoutCloudIdentity
            userExperienceAnalyticsImpactingProcess:
              operationId: deviceManagement.ListUserExperienceAnalyticsImpactingProcess
            userExperienceAnalyticsMetricHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsMetricHistory
            userExperienceAnalyticsModelScores:
              operationId: deviceManagement.ListUserExperienceAnalyticsModelScores
            userExperienceAnalyticsNotAutopilotReadyDevice:
              operationId: deviceManagement.ListUserExperienceAnalyticsNotAutopilotReadyDevice
            userExperienceAnalyticsOverview:
              operationId: deviceManagement.GetUserExperienceAnalyticsOverview
            userExperienceAnalyticsRegressionSummary:
              operationId: deviceManagement.GetUserExperienceAnalyticsRegressionSummary
            userExperienceAnalyticsRemoteConnection:
              operationId: deviceManagement.ListUserExperienceAnalyticsRemoteConnection
            userExperienceAnalyticsResourcePerformance:
              operationId: deviceManagement.ListUserExperienceAnalyticsResourcePerformance
            userExperienceAnalyticsScoreHistory:
              operationId: deviceManagement.ListUserExperienceAnalyticsScoreHistory
            userExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric:
              operationId: deviceManagement.GetUserExperienceAnalyticsWorkFromAnywhereHardwareReadinessMetric
            userExperienceAnalyticsWorkFromAnywhereMetrics:
              operationId: deviceManagement.ListUserExperienceAnalyticsWorkFromAnywhereMetrics
            windowsMalwareInformation:
              operationId: deviceManagement.ListWindowsMalwareInformation
            derivedCredentials:
              operationId: deviceManagement.ListDerivedCredentials
            resourceAccessProfiles:
              operationId: deviceManagement.ListResourceAccessProfiles
            appleUserInitiatedEnrollmentProfiles:
              operationId: deviceManagement.ListAppleUserInitiatedEnrollmentProfiles
            depOnboardingSettings:
              operationId: deviceManagement.ListDepOnboardingSettings
            importedDeviceIdentities:
              operationId: deviceManagement.ListImportedDeviceIdentities
            importedWindowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListImportedWindowsAutopilotDeviceIdentities
            windowsAutopilotDeploymentProfiles:
              operationId: deviceManagement.ListWindowsAutopilotDeploymentProfiles
            windowsAutopilotDeviceIdentities:
              operationId: deviceManagement.ListWindowsAutopilotDeviceIdentities
            windowsAutopilotSettings:
              operationId: deviceManagement.GetWindowsAutopilotSettings
            managementConditions:
              operationId: deviceManagement.ListManagementConditions
            managementConditionStatements:
              operationId: deviceManagement.ListManagementConditionStatements
            groupPolicyMigrationReports:
              operationId: deviceManagement.ListGroupPolicyMigrationReports
            groupPolicyObjectFiles:
              operationId: deviceManagement.ListGroupPolicyObjectFiles
            groupPolicyCategories:
              operationId: deviceManagement.ListGroupPolicyCategories
            groupPolicyConfigurations:
              operationId: deviceManagement.ListGroupPolicyConfigurations
            groupPolicyDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyDefinitionFiles
            groupPolicyDefinitions:
              operationId: deviceManagement.ListGroupPolicyDefinitions
            groupPolicyUploadedDefinitionFiles:
              operationId: deviceManagement.ListGroupPolicyUploadedDefinitionFiles
            reports:
              operationId: deviceManagement.GetReports
            microsoftTunnelConfigurations:
              operationId: deviceManagement.ListMicrosoftTunnelConfigurations
            microsoftTunnelHealthThresholds:
              operationId: deviceManagement.ListMicrosoftTunnelHealthThresholds
            microsoftTunnelServerLogCollectionResponses:
              operationId: deviceManagement.ListMicrosoftTunnelServerLogCollectionResponses
            microsoftTunnelSites:
              operationId: deviceManagement.ListMicrosoftTunnelSites
            notificationMessageTemplates:
              operationId: deviceManagement.ListNotificationMessageTemplates
            domainJoinConnectors:
              operationId: deviceManagement.ListDomainJoinConnectors
            configManagerCollections:
              operationId: deviceManagement.ListConfigManagerCollections
            resourceOperations:
              operationId: deviceManagement.ListResourceOperations
            roleAssignments:
              operationId: deviceManagement.ListRoleAssignments
            roleDefinitions:
              operationId: deviceManagement.ListRoleDefinitions
            roleScopeTags:
              operationId: deviceManagement.ListRoleScopeTags
            remoteAssistancePartners:
              operationId: deviceManagement.ListRemoteAssistancePartners
            remoteAssistanceSettings:
              operationId: deviceManagement.GetRemoteAssistanceSettings
            embeddedSIMActivationCodePools:
              operationId: deviceManagement.ListEmbeddedSIMActivationCodePools
            telecomExpenseManagementPartners:
              operationId: deviceManagement.ListTelecomExpenseManagementPartners
            autopilotEvents:
              operationId: deviceManagement.ListAutopilotEvents
            troubleshootingEvents:
              operationId: deviceManagement.ListTroubleshootingEvents
            windowsDriverUpdateProfiles:
              operationId: deviceManagement.ListWindowsDriverUpdateProfiles
            windowsFeatureUpdateProfiles:
              operationId: deviceManagement.ListWindowsFeatureUpdateProfiles
            windowsQualityUpdateProfiles:
              operationId: deviceManagement.ListWindowsQualityUpdateProfiles
            windowsUpdateCatalogItems:
              operationId: deviceManagement.ListWindowsUpdateCatalogItems
            intuneBrandingProfiles:
              operationId: deviceManagement.ListIntuneBrandingProfiles
            windowsInformationProtectionAppLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionAppLearningSummaries
            windowsInformationProtectionNetworkLearningSummaries:
              operationId: deviceManagement.ListWindowsInformationProtectionNetworkLearningSummaries
            userPfxCertificates:
              operationId: deviceManagement.ListUserPfxCertificates
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagement
      summary: Update deviceManagement
      operationId: deviceManagement.deviceManagement_UpdateDeviceManagement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingStateSummary from deviceManagement
      description: The summary state of ATP onboarding state for this account.
      operationId: deviceManagement_GetAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - compliantDeviceCount
                - conflictDeviceCount
                - errorDeviceCount
                - nonCompliantDeviceCount
                - notApplicableDeviceCount
                - notAssignedDeviceCount
                - remediatedDeviceCount
                - unknownDeviceCount
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - advancedThreatProtectionOnboardingDeviceSettingStates
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
          links:
            advancedThreatProtectionOnboardingDeviceSettingStates:
              operationId: deviceManagement.AdvancedThreatProtectionOnboardingStateSummary.ListAdvancedThreatProtectionOnboardingDeviceSettingStates
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingStateSummary in deviceManagement
      description: The summary state of ATP onboarding state for this account.
      operationId: deviceManagement_UpdateAdvancedThreatProtectionOnboardingStateSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingStateSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingStateSummary for deviceManagement
      description: The summary state of ATP onboarding state for this account.
      operationId: deviceManagement_DeleteAdvancedThreatProtectionOnboardingStateSummary
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates:
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_ListAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - deviceId
                - deviceId desc
                - deviceModel
                - deviceModel desc
                - deviceName
                - deviceName desc
                - platformType
                - platformType desc
                - setting
                - setting desc
                - settingName
                - settingName desc
                - state
                - state desc
                - userEmail
                - userEmail desc
                - userId
                - userId desc
                - userName
                - userName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of advancedThreatProtectionOnboardingDeviceSettingState
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Create new navigation property to advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_CreateAdvancedThreatProtectionOnboardingDeviceSettingStates
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/advancedThreatProtectionOnboardingStateSummary/advancedThreatProtectionOnboardingDeviceSettingStates/{advancedThreatProtectionOnboardingDeviceSettingState-id}':
    get:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Get advancedThreatProtectionOnboardingDeviceSettingStates from deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_GetAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - complianceGracePeriodExpirationDateTime
                - deviceId
                - deviceModel
                - deviceName
                - platformType
                - setting
                - settingName
                - state
                - userEmail
                - userId
                - userName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Update the navigation property advancedThreatProtectionOnboardingDeviceSettingStates in deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_UpdateAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.advancedThreatProtectionOnboardingDeviceSettingState'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.advancedThreatProtectionOnboardingStateSummary
      summary: Delete navigation property advancedThreatProtectionOnboardingDeviceSettingStates for deviceManagement
      operationId: deviceManagement.advancedThreatProtectionOnboardingStateSummary_DeleteAdvancedThreatProtectionOnboardingDeviceSettingStates
      parameters:
        - name: advancedThreatProtectionOnboardingDeviceSettingState-id
          in: path
          description: 'key: id of advancedThreatProtectionOnboardingDeviceSettingState'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: advancedThreatProtectionOnboardingDeviceSettingState
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_ListAndroidForWorkAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidForWorkAppConfigurationSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Create new navigation property to androidForWorkAppConfigurationSchemas for deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_CreateAndroidForWorkAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidForWorkAppConfigurationSchemas/{androidForWorkAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Get androidForWorkAppConfigurationSchemas from deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_GetAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Update the navigation property androidForWorkAppConfigurationSchemas in deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_UpdateAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkAppConfigurationSchema
      summary: Delete navigation property androidForWorkAppConfigurationSchemas for deviceManagement
      description: Android for Work app configuration schema entities.
      operationId: deviceManagement_DeleteAndroidForWorkAppConfigurationSchemas
      parameters:
        - name: androidForWorkAppConfigurationSchema-id
          in: path
          description: 'key: id of androidForWorkAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidForWorkAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidForWorkSettings:
    get:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Get androidForWorkSettings from deviceManagement
      description: The singleton Android for Work settings entity.
      operationId: deviceManagement_GetAndroidForWorkSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - bindStatus
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Update the navigation property androidForWorkSettings in deviceManagement
      description: The singleton Android for Work settings entity.
      operationId: deviceManagement_UpdateAndroidForWorkSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidForWorkSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidForWorkSettings
      summary: Delete navigation property androidForWorkSettings for deviceManagement
      description: The singleton Android for Work settings entity.
      operationId: deviceManagement_DeleteAndroidForWorkSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAccountEnterpriseSettings:
    get:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Get androidManagedStoreAccountEnterpriseSettings from deviceManagement
      description: The singleton Android managed store account enterprise settings entity.
      operationId: deviceManagement_GetAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - androidDeviceOwnerFullyManagedEnrollmentEnabled
                - bindStatus
                - companyCodes
                - deviceOwnerManagementEnabled
                - enrollmentTarget
                - lastAppSyncDateTime
                - lastAppSyncStatus
                - lastModifiedDateTime
                - managedGooglePlayInitialScopeTagIds
                - ownerOrganizationName
                - ownerUserPrincipalName
                - targetGroupIds
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Update the navigation property androidManagedStoreAccountEnterpriseSettings in deviceManagement
      description: The singleton Android managed store account enterprise settings entity.
      operationId: deviceManagement_UpdateAndroidManagedStoreAccountEnterpriseSettings
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAccountEnterpriseSettings'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAccountEnterpriseSettings
      summary: Delete navigation property androidManagedStoreAccountEnterpriseSettings for deviceManagement
      description: The singleton Android managed store account enterprise settings entity.
      operationId: deviceManagement_DeleteAndroidManagedStoreAccountEnterpriseSettings
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/androidManagedStoreAppConfigurationSchemas:
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_ListAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - exampleJson
                - exampleJson desc
                - nestedSchemaItems
                - nestedSchemaItems desc
                - schemaItems
                - schemaItems desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of androidManagedStoreAppConfigurationSchema
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Create new navigation property to androidManagedStoreAppConfigurationSchemas for deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_CreateAndroidManagedStoreAppConfigurationSchemas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/androidManagedStoreAppConfigurationSchemas/{androidManagedStoreAppConfigurationSchema-id}':
    get:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Get androidManagedStoreAppConfigurationSchemas from deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_GetAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - exampleJson
                - nestedSchemaItems
                - schemaItems
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Update the navigation property androidManagedStoreAppConfigurationSchemas in deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_UpdateAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.androidManagedStoreAppConfigurationSchema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.androidManagedStoreAppConfigurationSchema
      summary: Delete navigation property androidManagedStoreAppConfigurationSchemas for deviceManagement
      description: Android Enterprise app configuration schema entities.
      operationId: deviceManagement_DeleteAndroidManagedStoreAppConfigurationSchemas
      parameters:
        - name: androidManagedStoreAppConfigurationSchema-id
          in: path
          description: 'key: id of androidManagedStoreAppConfigurationSchema'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: androidManagedStoreAppConfigurationSchema
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/assignmentFilters:
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_ListAssignmentFilters
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - platform
                - platform desc
                - roleScopeTags
                - roleScopeTags desc
                - rule
                - rule desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - roleScopeTags
                - rule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceAndAppManagementAssignmentFilter
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Create new navigation property to assignmentFilters for deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_CreateAssignmentFilters
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/assignmentFilters/{deviceAndAppManagementAssignmentFilter-id}':
    get:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Get assignmentFilters from deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_GetAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - description
                - displayName
                - lastModifiedDateTime
                - platform
                - roleScopeTags
                - rule
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Update the navigation property assignmentFilters in deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_UpdateAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceAndAppManagementAssignmentFilter'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceAndAppManagementAssignmentFilter
      summary: Delete navigation property assignmentFilters for deviceManagement
      description: The list of assignment filters
      operationId: deviceManagement_DeleteAssignmentFilters
      parameters:
        - name: deviceAndAppManagementAssignmentFilter-id
          in: path
          description: 'key: id of deviceAndAppManagementAssignmentFilter'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceAndAppManagementAssignmentFilter
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/categories:
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_ListCategories
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - hasRequiredSetting
                - hasRequiredSetting desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - hasRequiredSetting
                - settingDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settingDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementSettingCategory
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to categories for deviceManagement
      description: The available categories
      operationId: deviceManagement_CreateCategories
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get categories from deviceManagement
      description: The available categories
      operationId: deviceManagement_GetCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - hasRequiredSetting
                - settingDefinitions
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - settingDefinitions
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
          links:
            settingDefinitions:
              operationId: deviceManagement.Categories.ListSettingDefinitions
              parameters:
                deviceManagementSettingCategory-id: $request.path.deviceManagementSettingCategory-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property categories in deviceManagement
      description: The available categories
      operationId: deviceManagement_UpdateCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingCategory'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property categories for deviceManagement
      description: The available categories
      operationId: deviceManagement_DeleteCategories
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_ListSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - constraints
                - constraints desc
                - dependencies
                - dependencies desc
                - description
                - description desc
                - displayName
                - displayName desc
                - documentationUrl
                - documentationUrl desc
                - headerSubtitle
                - headerSubtitle desc
                - headerTitle
                - headerTitle desc
                - isTopLevel
                - isTopLevel desc
                - keywords
                - keywords desc
                - placeholderText
                - placeholderText desc
                - valueType
                - valueType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - constraints
                - dependencies
                - description
                - displayName
                - documentationUrl
                - headerSubtitle
                - headerTitle
                - isTopLevel
                - keywords
                - placeholderText
                - valueType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of deviceManagementSettingDefinition
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Create new navigation property to settingDefinitions for deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_CreateSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/deviceManagement/categories/{deviceManagementSettingCategory-id}/settingDefinitions/{deviceManagementSettingDefinition-id}':
    get:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Get settingDefinitions from deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_GetSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - constraints
                - dependencies
                - description
                - displayName
                - documentationUrl
                - headerSubtitle
                - headerTitle
                - isTopLevel
                - keywords
                - placeholderText
                - valueType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Update the navigation property settingDefinitions in deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_UpdateSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.deviceManagementSettingDefinition'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - deviceManagement.deviceManagementSettingCategory
      summary: Delete navigation property settingDefinitions for deviceManagement
      description: The setting definitions this category contains
      operationId: deviceManagement.categories_DeleteSettingDefinitions
      parameters:
        - name: deviceManagementSettingCategory-id
          in: path
          description: 'key: id of deviceManagementSettingCategory'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingCategory
        - name: deviceManagementSettingDefinition-id
          in: path
          description: 'key: id of deviceManagementSettingDefinition'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: deviceManagementSettingDefinition
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /deviceManagement/comanagedDevices:
    get:
      tags:
        - deviceManagement.managedDevice
      summary: Get comanagedDevices from deviceManagement
      description: The list of co-managed devices report
      operationId: deviceManagement_ListComanagedDevices
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - cloudPcRemoteActionResults
                - cloudPcRemoteActionResults desc
                - aadRegistered
                - aadRegistered desc
                - activationLockBypassCode
                - activationLockBypassCode desc
                - androidSecurityPatchLevel
                - androidSecurityPatchLevel desc
                - autopilotEnrolled
                - autopilotEnrolled desc
                - azureActiveDirectoryDeviceId
                - azureActiveDirectoryDeviceId desc
                - azureADDeviceId
                - azureADDeviceId desc
                - azureADRegistered
                - azureADRegistered desc
                - chassisType
                - chassisType desc
                - chromeOSDeviceInfo
                - chromeOSDeviceInfo desc
                - complianceGracePeriodExpirationDateTime
                - complianceGracePeriodExpirationDateTime desc
                - complianceState
                - complianceState desc
                - configurationManagerClientEnabledFeatures
                - configurationManagerClientEnabledFeatures desc
                - configurationManagerClientHealthState
                - configurationManagerClientHealthState desc
                - configurationManagerClientInformation
                - configurationManagerClientInformation desc
                - deviceActionResults
                - deviceActionResults desc
                - deviceCategoryDisplayName
                - deviceCategoryDisplayName desc
                - deviceEnrollmentType
                - deviceEnrollmentType desc
                - deviceHealthAttestationState
                - deviceHealthAttestationState desc
                - deviceName
                - deviceName desc
                - deviceRegistrationState
                - deviceRegistrationState desc
                - deviceType
                - deviceType desc
                - easActivated
                - easActivated desc
                - easActivationDateTime
                - easActivationDateTime desc
                - easDeviceId
                - easDeviceId desc
                - emailAddress
                - emailAddress desc
                - enrolledDateTime
                - enrolledDateTime desc
                - enrollmentProfileName
                - enrollmentProfileName desc
                - ethernetMacAddress
                - ethernetMacAddress desc
                - exchangeAccessState
                - exchangeAccessState desc
                - exchangeAccessStateReason
                - exchangeAccessStateReason desc
                - exchangeLastSuccessfulSyncDateTime
                - exchangeLastSuccessfulSyncDateTime desc
                - freeStorageSpaceInBytes
                - freeStorageSpaceInBytes desc
                - hardwareInformation
                - hardwareInformation desc
                - iccid
                - iccid desc
                - imei
                - imei desc
                - isEncrypted
                - isEncrypted desc
                - isSupervised
                - isSupervised desc
                - jailBroken
                - jailBroken desc
                - joinType
                - joinType desc
                - lastSyncDateTime
                - lastSyncDateTime desc
                - lostModeState
                - lostModeState desc
                - managedDeviceName
                - managedDeviceName desc
                - managedDeviceOwnerType
                - managedDeviceOwnerType desc
                - managementAgent
                - managementAgent desc
                - managementCertificateExpirationDate
                - managementCertificateExpirationDate desc
                - managementFeatures
                - managementFeatures desc
                - managementState
                - managementState desc
                - manufacturer
                - manufacturer desc
                - meid
                - meid desc
                - model
                - model desc
                - notes
                - notes desc
                - operatingSystem
                - operatingSystem desc
                - osVersion
                - osVersion desc
                - ownerType
                - ownerType desc
                - partnerReportedThreatState
                - partnerReportedThreatState desc
                - phoneNumber
                - phoneNumber desc
                - physicalMemoryInBytes
                - physicalMemoryInBytes desc
                - preferMdmOverGroupPolicyAppliedDateTime
                - preferMdmOverGroupPolicyAppliedDateTime desc
                - processorArchitecture
                - processorArchitecture desc
                - remoteAssistanceSessionErrorDetails
                - remoteAssistanceSessionErrorDetails desc
                - remoteAssistanceSessionUrl
                - remoteAssistanceSessionUrl desc
                - requireUserEnrollmentApproval
                - requireUserEnrollmentApproval desc
                - retireAfterDateTime
                - retireAfterDateTime desc
                - roleScopeTagIds
                - roleScopeTagIds desc
                - serialNumber
                - serialNumber desc
                - skuFamily
                - skuFamily desc
                - skuNumber
                - skuNumber desc
                - specificationVersion
                - specificationVersion desc
                - subscriberCarrier
                - subscriberCarrier desc
                - totalStorageSpaceInBytes
                - totalStorageSpaceInBytes desc
                - udid
                - udid desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - usersLoggedOn
                - usersLoggedOn desc
                - wiFiMacAddress
                - wiFiMacAddress desc
                - windowsActiveMalwareCount
                - windowsActiveMalwareCount desc
                - windowsRemediatedMalwareCount
                - windowsRemediatedMalwareCount desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - cloudPcRemoteActionResults
                - aadRegistered
                - activationLockBypassCode
                - androidSecurityPatchLevel
                - autopilotEnrolled
                - azureActiveDirectoryDeviceId
                - azureADDeviceId
                - azureADRegistered
                - chassisType
                - chromeOSDeviceInfo
                - complianceGracePeriodExpirationDateTime
                - complianceState
                - configurationManagerClientEnabledFeatures
                - configurationManagerClientHealthState
                - configurationManagerClientInformation
                - deviceActionResults
                - deviceCategoryDisplayName
                - deviceEnrollmentType
                - deviceHealthAttestationState
                - deviceName
                - deviceRegistrationState
                - deviceType
                - easActivated
                - easActivationDateTime
                - easDeviceId
                - emailAddress
                - enrolledDateTime
                - enrollmentProfileName
                - ethernetMacAddress
                - exchangeAccessState
                - exchangeAccessStateReason
                - exchangeLastSuccessfulSyncDateTime
                - freeStorageSpaceInBytes
                - hardwareInformation
                - iccid
                - imei
                - isEncrypted
                - isSupervised
                - jailBroken
                - joinType
                - lastSyncDateTime
                - lostModeState
[...]
