openapi: 3.0.1
info:
  title: Groups
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /groupLifecyclePolicies:
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entities from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_ListGroupLifecyclePolicy
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateNotificationEmails
                - alternateNotificationEmails desc
                - groupLifetimeInDays
                - groupLifetimeInDays desc
                - managedGroupTypes
                - managedGroupTypes desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateNotificationEmails
                - groupLifetimeInDays
                - managedGroupTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of groupLifecyclePolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Add new entity to groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_CreateGroupLifecyclePolicy
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}':
    get:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Get entity from groupLifecyclePolicies by key
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_GetGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateNotificationEmails
                - groupLifetimeInDays
                - managedGroupTypes
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Update entity in groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_UpdateGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.groupLifecyclePolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groupLifecyclePolicies.groupLifecyclePolicy
      summary: Delete entity from groupLifecyclePolicies
      operationId: groupLifecyclePolicies.groupLifecyclePolicy_DeleteGroupLifecyclePolicy
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.addGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action addGroup
      operationId: groupLifecyclePolicies_addGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
                default: false
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groupLifecyclePolicies/{groupLifecyclePolicy-id}/microsoft.graph.removeGroup':
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action removeGroup
      operationId: groupLifecyclePolicies_removeGroup
      parameters:
        - name: groupLifecyclePolicy-id
          in: path
          description: 'key: id of groupLifecyclePolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: groupLifecyclePolicy
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
                default: false
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groupLifecyclePolicies/microsoft.graph.renewGroup:
    post:
      tags:
        - groupLifecyclePolicies.Actions
      summary: Invoke action renewGroup
      operationId: groupLifecyclePolicies_renewGroup
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                groupId:
                  type: string
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: boolean
                default: false
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /groups:
    get:
      tags:
        - groups.group
      summary: Get entities from groups
      operationId: groups.group_ListGroup
      parameters:
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
                - assignedLabels
                - assignedLabels desc
                - assignedLicenses
                - assignedLicenses desc
                - classification
                - classification desc
                - createdByAppId
                - createdByAppId desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - expirationDateTime
                - expirationDateTime desc
                - groupTypes
                - groupTypes desc
                - hasMembersWithLicenseErrors
                - hasMembersWithLicenseErrors desc
                - infoCatalogs
                - infoCatalogs desc
                - isAssignableToRole
                - isAssignableToRole desc
                - licenseProcessingState
                - licenseProcessingState desc
                - mail
                - mail desc
                - mailEnabled
                - mailEnabled desc
                - mailNickname
                - mailNickname desc
                - mdmAppId
                - mdmAppId desc
                - membershipRule
                - membershipRule desc
                - membershipRuleProcessingState
                - membershipRuleProcessingState desc
                - onPremisesDomainName
                - onPremisesDomainName desc
                - onPremisesLastSyncDateTime
                - onPremisesLastSyncDateTime desc
                - onPremisesNetBiosName
                - onPremisesNetBiosName desc
                - onPremisesProvisioningErrors
                - onPremisesProvisioningErrors desc
                - onPremisesSamAccountName
                - onPremisesSamAccountName desc
                - onPremisesSecurityIdentifier
                - onPremisesSecurityIdentifier desc
                - onPremisesSyncEnabled
                - onPremisesSyncEnabled desc
                - organizationId
                - organizationId desc
                - preferredDataLocation
                - preferredDataLocation desc
                - preferredLanguage
                - preferredLanguage desc
                - proxyAddresses
                - proxyAddresses desc
                - renewedDateTime
                - renewedDateTime desc
                - resourceBehaviorOptions
                - resourceBehaviorOptions desc
                - resourceProvisioningOptions
                - resourceProvisioningOptions desc
                - securityEnabled
                - securityEnabled desc
                - securityIdentifier
                - securityIdentifier desc
                - theme
                - theme desc
                - visibility
                - visibility desc
                - accessType
                - accessType desc
                - allowExternalSenders
                - allowExternalSenders desc
                - autoSubscribeNewMembers
                - autoSubscribeNewMembers desc
                - hideFromAddressLists
                - hideFromAddressLists desc
                - hideFromOutlookClients
                - hideFromOutlookClients desc
                - isFavorite
                - isFavorite desc
                - isSubscribedByMail
                - isSubscribedByMail desc
                - unseenConversationsCount
                - unseenConversationsCount desc
                - unseenCount
                - unseenCount desc
                - unseenMessagesCount
                - unseenMessagesCount desc
                - membershipRuleProcessingStatus
                - membershipRuleProcessingStatus desc
                - isArchived
                - isArchived desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - mdmAppId
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - organizationId
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of group
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.group'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.group
      summary: Add new entity to groups
      operationId: groups.group_CreateGroup
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}':
    get:
      tags:
        - groups.group
      summary: Get entity from groups by key
      description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      operationId: groups.group_GetGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: ConsistencyLevel
          in: header
          description: 'Indicates the requested consistency level. Documentation URL: https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-advanced-queries-for-directory-objects-are-now-generally-available/'
          schema:
            type: string
          examples:
            example-1:
              description: $search and $count queries require the client to set the ConsistencyLevel HTTP header to 'eventual'.
              value: eventual
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - assignedLabels
                - assignedLicenses
                - classification
                - createdByAppId
                - createdDateTime
                - description
                - displayName
                - expirationDateTime
                - groupTypes
                - hasMembersWithLicenseErrors
                - infoCatalogs
                - isAssignableToRole
                - licenseProcessingState
                - mail
                - mailEnabled
                - mailNickname
                - mdmAppId
                - membershipRule
                - membershipRuleProcessingState
                - onPremisesDomainName
                - onPremisesLastSyncDateTime
                - onPremisesNetBiosName
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - organizationId
                - preferredDataLocation
                - preferredLanguage
                - proxyAddresses
                - renewedDateTime
                - resourceBehaviorOptions
                - resourceProvisioningOptions
                - securityEnabled
                - securityIdentifier
                - theme
                - visibility
                - accessType
                - allowExternalSenders
                - autoSubscribeNewMembers
                - hideFromAddressLists
                - hideFromOutlookClients
                - isFavorite
                - isSubscribedByMail
                - unseenConversationsCount
                - unseenCount
                - unseenMessagesCount
                - membershipRuleProcessingStatus
                - isArchived
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdOnBehalfOf
                - endpoints
                - memberOf
                - members
                - membersWithLicenseErrors
                - owners
                - permissionGrants
                - settings
                - transitiveMemberOf
                - transitiveMembers
                - acceptedSenders
                - calendar
                - calendarView
                - conversations
                - events
                - rejectedSenders
                - threads
                - drive
                - drives
                - sites
                - extensions
                - groupLifecyclePolicies
                - planner
                - onenote
                - photo
                - photos
                - team
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.group'
          links:
            appRoleAssignments:
              operationId: groups.ListAppRoleAssignments
              parameters:
                group-id: $request.path.group-id
            createdOnBehalfOf:
              operationId: groups.GetCreatedOnBehalfOf
              parameters:
                group-id: $request.path.group-id
            endpoints:
              operationId: groups.ListEndpoints
              parameters:
                group-id: $request.path.group-id
            memberOf:
              operationId: groups.ListMemberOf
              parameters:
                group-id: $request.path.group-id
            members:
              operationId: groups.ListMembers
              parameters:
                group-id: $request.path.group-id
            membersWithLicenseErrors:
              operationId: groups.ListMembersWithLicenseErrors
              parameters:
                group-id: $request.path.group-id
            owners:
              operationId: groups.ListOwners
              parameters:
                group-id: $request.path.group-id
            permissionGrants:
              operationId: groups.ListPermissionGrants
              parameters:
                group-id: $request.path.group-id
            settings:
              operationId: groups.ListSettings
              parameters:
                group-id: $request.path.group-id
            transitiveMemberOf:
              operationId: groups.ListTransitiveMemberOf
              parameters:
                group-id: $request.path.group-id
            transitiveMembers:
              operationId: groups.ListTransitiveMembers
              parameters:
                group-id: $request.path.group-id
            acceptedSenders:
              operationId: groups.ListAcceptedSenders
              parameters:
                group-id: $request.path.group-id
            calendar:
              operationId: groups.GetCalendar
              parameters:
                group-id: $request.path.group-id
            calendarView:
              operationId: groups.ListCalendarView
              parameters:
                group-id: $request.path.group-id
            conversations:
              operationId: groups.ListConversations
              parameters:
                group-id: $request.path.group-id
            events:
              operationId: groups.ListEvents
              parameters:
                group-id: $request.path.group-id
            rejectedSenders:
              operationId: groups.ListRejectedSenders
              parameters:
                group-id: $request.path.group-id
            threads:
              operationId: groups.ListThreads
              parameters:
                group-id: $request.path.group-id
            drive:
              operationId: groups.GetDrive
              parameters:
                group-id: $request.path.group-id
            drives:
              operationId: groups.ListDrives
              parameters:
                group-id: $request.path.group-id
            sites:
              operationId: groups.ListSites
              parameters:
                group-id: $request.path.group-id
            extensions:
              operationId: groups.ListExtensions
              parameters:
                group-id: $request.path.group-id
            groupLifecyclePolicies:
              operationId: groups.ListGroupLifecyclePolicies
              parameters:
                group-id: $request.path.group-id
            planner:
              operationId: groups.GetPlanner
              parameters:
                group-id: $request.path.group-id
            onenote:
              operationId: groups.GetOnenote
              parameters:
                group-id: $request.path.group-id
            photo:
              operationId: groups.GetPhoto
              parameters:
                group-id: $request.path.group-id
            photos:
              operationId: groups.ListPhotos
              parameters:
                group-id: $request.path.group-id
            team:
              operationId: groups.GetTeam
              parameters:
                group-id: $request.path.group-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.group
      summary: Update entity in groups
      description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      operationId: groups.group_UpdateGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.group'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.group
      summary: Delete entity from groups
      description: Represents an Azure Active Directory object. The directoryObject type is the base type for many other directory entity types.
      operationId: groups.group_DeleteGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders':
    get:
      tags:
        - groups.directoryObject
      summary: Get acceptedSenders from groups
      operationId: groups_ListAcceptedSenders
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryObject'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders/{directoryObject-id}/$ref':
    delete:
      tags:
        - groups.directoryObject
      summary: Delete ref of navigation property acceptedSenders for groups
      operationId: groups_DeleteRefAcceptedSenders
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: directoryObject-id
          in: path
          description: 'key: id of directoryObject'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryObject
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/acceptedSenders/$ref':
    get:
      tags:
        - groups.directoryObject
      summary: Get ref of acceptedSenders from groups
      operationId: groups_ListRefAcceptedSenders
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - deletedDateTime
                - deletedDateTime desc
              type: string
      responses:
        '200':
          description: Retrieved navigation property links
          content:
            application/json:
              schema:
                title: Collection of links of directoryObject
                type: object
                properties:
                  value:
                    type: array
                    items:
                      type: string
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.directoryObject
      summary: Create new navigation property ref to acceptedSenders for groups
      operationId: groups_CreateRefAcceptedSenders
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property ref value
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '201':
          description: Created navigation property link.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/calendar/calendarView/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      operationId: groups.calendar.calendarView.attachments_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - groups.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: groups.calendar.calendarView.calendar_allowedCalendarSharingRoles
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/calendarView/{event-id}/calendar/microsoft.graph.getSchedule':
    post:
      tags:
        - groups.Actions
      summary: Invoke action getSchedule
      operationId: groups.calendar.calendarView.calendar_getSchedule
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Schedules:
                  type: array
                  items:
                    type: string
                    nullable: true
                EndTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                StartTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                AvailabilityViewInterval:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.scheduleInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      operationId: groups.calendar.calendarView.exceptionOccurrences_accept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      operationId: groups.calendar.calendarView.exceptionOccurrences_cancel
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      operationId: groups.calendar.calendarView.exceptionOccurrences_decline
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      operationId: groups.calendar.calendarView.exceptionOccurrences_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      operationId: groups.calendar.calendarView.exceptionOccurrences_forward
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      operationId: groups.calendar.calendarView.exceptionOccurrences_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      operationId: groups.calendar.calendarView.exceptionOccurrences_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.calendar.calendarView.exceptionOccurrences_delta
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      operationId: groups.calendar.calendarView.instances_accept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      operationId: groups.calendar.calendarView.instances_cancel
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      operationId: groups.calendar.calendarView.instances_decline
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      operationId: groups.calendar.calendarView.instances_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      operationId: groups.calendar.calendarView.instances_forward
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      operationId: groups.calendar.calendarView.instances_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      operationId: groups.calendar.calendarView.instances_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.calendar.calendarView.instances_delta
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      operationId: groups.calendar.calendarView_accept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      operationId: groups.calendar.calendarView_cancel
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      operationId: groups.calendar.calendarView_decline
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      operationId: groups.calendar.calendarView_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      operationId: groups.calendar.calendarView_forward
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      operationId: groups.calendar.calendarView_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/{event-id}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      operationId: groups.calendar.calendarView_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.calendar.calendarView_delta
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/events/{event-id}/attachments/microsoft.graph.createUploadSession':
    post:
      tags:
        - groups.Actions
      summary: Invoke action createUploadSession
      operationId: groups.calendar.events.attachments_createUploadSession
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                AttachmentItem:
                  $ref: '#/components/schemas/microsoft.graph.attachmentItem'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.uploadSession'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - groups.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: groups.calendar.events.calendar_allowedCalendarSharingRoles
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/events/{event-id}/calendar/microsoft.graph.getSchedule':
    post:
      tags:
        - groups.Actions
      summary: Invoke action getSchedule
      operationId: groups.calendar.events.calendar_getSchedule
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Schedules:
                  type: array
                  items:
                    type: string
                    nullable: true
                EndTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                StartTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
                AvailabilityViewInterval:
                  maximum: 2147483647
                  minimum: -2147483648
                  type: integer
                  format: int32
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.scheduleInformation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      operationId: groups.calendar.events.exceptionOccurrences_accept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      operationId: groups.calendar.events.exceptionOccurrences_cancel
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      operationId: groups.calendar.events.exceptionOccurrences_decline
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      operationId: groups.calendar.events.exceptionOccurrences_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      operationId: groups.calendar.events.exceptionOccurrences_forward
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      operationId: groups.calendar.events.exceptionOccurrences_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      operationId: groups.calendar.events.exceptionOccurrences_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.calendar.events.exceptionOccurrences_delta
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.accept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action accept
      operationId: groups.calendar.events.instances_accept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.cancel':
    post:
      tags:
        - groups.Actions
      summary: Invoke action cancel
      operationId: groups.calendar.events.instances_cancel
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.decline':
    post:
      tags:
        - groups.Actions
      summary: Invoke action decline
      operationId: groups.calendar.events.instances_decline
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.dismissReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action dismissReminder
      operationId: groups.calendar.events.instances_dismissReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.forward':
    post:
      tags:
        - groups.Actions
      summary: Invoke action forward
      operationId: groups.calendar.events.instances_forward
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                ToRecipients:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.recipient'
                Comment:
                  type: string
                  nullable: true
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.snoozeReminder':
    post:
      tags:
        - groups.Actions
      summary: Invoke action snoozeReminder
      operationId: groups.calendar.events.instances_snoozeReminder
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                NewReminderTime:
                  $ref: '#/components/schemas/microsoft.graph.dateTimeTimeZone'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/{event-id1}/microsoft.graph.tentativelyAccept':
    post:
      tags:
        - groups.Actions
      summary: Invoke action tentativelyAccept
      operationId: groups.calendar.events.instances_tentativelyAccept
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: event-id1
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                Comment:
                  type: string
                  nullable: true
                SendResponse:
                  type: boolean
                  default: false
                  nullable: true
                ProposedNewTime:
                  $ref: '#/components/schemas/microsoft.graph.timeSlot'
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/groups/{group-id}/calendar/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - groups.Functions
      summary: Invoke function delta
      operationId: groups.calendar.events.instances_delta
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
[...]
