openapi: 3.0.1
info:
  title: Notes
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/groups/{group-id}/onenote':
    get:
      tags:
        - groups.onenote
      summary: Get onenote from groups
      operationId: groups_GetOnenote
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - notebooks
                - operations
                - pages
                - resources
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - notebooks
                - operations
                - pages
                - resources
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenote'
          links:
            notebooks:
              operationId: groups.Onenote.ListNotebooks
              parameters:
                group-id: $request.path.group-id
            operations:
              operationId: groups.Onenote.ListOperations
              parameters:
                group-id: $request.path.group-id
            pages:
              operationId: groups.Onenote.ListPages
              parameters:
                group-id: $request.path.group-id
            resources:
              operationId: groups.Onenote.ListResources
              parameters:
                group-id: $request.path.group-id
            sectionGroups:
              operationId: groups.Onenote.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
            sections:
              operationId: groups.Onenote.ListSections
              parameters:
                group-id: $request.path.group-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property onenote in groups
      operationId: groups_UpdateOnenote
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenote'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property onenote for groups
      operationId: groups_DeleteOnenote
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks':
    get:
      tags:
        - groups.onenote
      summary: Get notebooks from groups
      operationId: groups.onenote_ListNotebooks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - isShared
                - isShared desc
                - links
                - links desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
                - sectionsUrl
                - sectionsUrl desc
                - userRole
                - userRole desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - isShared
                - links
                - sectionGroupsUrl
                - sectionsUrl
                - userRole
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of notebook
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.notebook'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to notebooks for groups
      operationId: groups.onenote_CreateNotebooks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}':
    get:
      tags:
        - groups.onenote
      summary: Get notebooks from groups
      operationId: groups.onenote_GetNotebooks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - isShared
                - links
                - sectionGroupsUrl
                - sectionsUrl
                - userRole
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sectionGroups:
              operationId: groups.onenote.Notebooks.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
            sections:
              operationId: groups.onenote.Notebooks.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property notebooks in groups
      operationId: groups.onenote_UpdateNotebooks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.notebook'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property notebooks for groups
      operationId: groups.onenote_DeleteNotebooks
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      operationId: groups.onenote.notebooks_ListSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
                - sectionsUrl
                - sectionsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionGroupsUrl
                - sectionsUrl
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sectionGroups for groups
      operationId: groups.onenote.notebooks_CreateSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      operationId: groups.onenote.notebooks_GetSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionGroupsUrl
                - sectionsUrl
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: groups.onenote.notebooks.SectionGroups.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: groups.onenote.notebooks.SectionGroups.GetParentSectionGroup
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sectionGroups:
              operationId: groups.onenote.notebooks.SectionGroups.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: groups.onenote.notebooks.SectionGroups.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sectionGroups in groups
      operationId: groups.onenote.notebooks_UpdateSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sectionGroups for groups
      operationId: groups.onenote.notebooks_DeleteSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - isShared
                - links
                - sectionGroupsUrl
                - sectionsUrl
                - userRole
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentNotebook/$ref':
    get:
      tags:
        - groups.onenote
      summary: Get ref of parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups_GetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - groups.onenote
      summary: Update the ref of navigation property parentNotebook in groups
      operationId: groups.onenote.notebooks.sectionGroups_SetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete ref of navigation property parentNotebook for groups
      operationId: groups.onenote.notebooks.sectionGroups_DeleteRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/parentSectionGroup':
    get:
      tags:
        - groups.onenote
      summary: Get parentSectionGroup from groups
      operationId: groups.onenote.notebooks.sectionGroups_GetParentSectionGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionGroupsUrl
                - sectionsUrl
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: groups.onenote.notebooks.sectionGroups.ParentSectionGroup.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            parentSectionGroup:
              operationId: groups.onenote.notebooks.sectionGroups.ParentSectionGroup.GetParentSectionGroup
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.ParentSectionGroup.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.ParentSectionGroup.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property parentSectionGroup in groups
      operationId: groups.onenote.notebooks.sectionGroups_UpdateParentSectionGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property parentSectionGroup for groups
      operationId: groups.onenote.notebooks.sectionGroups_DeleteParentSectionGroup
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      operationId: groups.onenote.notebooks.sectionGroups_ListSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - sectionGroupsUrl
                - sectionGroupsUrl desc
                - sectionsUrl
                - sectionsUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionGroupsUrl
                - sectionsUrl
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sectionGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sectionGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sectionGroups for groups
      operationId: groups.onenote.notebooks.sectionGroups_CreateSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sectionGroups/{sectionGroup-id1}':
    get:
      tags:
        - groups.onenote
      summary: Get sectionGroups from groups
      operationId: groups.onenote.notebooks.sectionGroups_GetSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - sectionGroupsUrl
                - sectionsUrl
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSectionGroup
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sectionGroup'
          links:
            parentNotebook:
              operationId: groups.onenote.notebooks.sectionGroups.SectionGroups.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            parentSectionGroup:
              operationId: groups.onenote.notebooks.sectionGroups.SectionGroups.GetParentSectionGroup
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.SectionGroups.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.SectionGroups.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                sectionGroup-id1: $request.path.sectionGroup-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sectionGroups in groups
      operationId: groups.onenote.notebooks.sectionGroups_UpdateSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sectionGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sectionGroups for groups
      operationId: groups.onenote.notebooks.sectionGroups_DeleteSectionGroups
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: sectionGroup-id1
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      operationId: groups.onenote.notebooks.sectionGroups_ListSections
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - createdBy
                - createdBy desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - isDefault
                - isDefault desc
                - links
                - links desc
                - pagesUrl
                - pagesUrl desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenoteSection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenoteSection'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to sections for groups
      operationId: groups.onenote.notebooks.sectionGroups_CreateSections
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}':
    get:
      tags:
        - groups.onenote
      summary: Get sections from groups
      operationId: groups.onenote.notebooks.sectionGroups_GetSections
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            pages:
              operationId: groups.onenote.notebooks.sectionGroups.Sections.ListPages
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentNotebook:
              operationId: groups.onenote.notebooks.sectionGroups.Sections.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            parentSectionGroup:
              operationId: groups.onenote.notebooks.sectionGroups.Sections.GetParentSectionGroup
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property sections in groups
      operationId: groups.onenote.notebooks.sectionGroups_UpdateSections
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property sections for groups
      operationId: groups.onenote.notebooks.sectionGroups_DeleteSections
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_ListPages
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - self
                - self desc
                - createdDateTime
                - createdDateTime desc
                - content
                - content desc
                - contentUrl
                - contentUrl desc
                - createdByAppId
                - createdByAppId desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - level
                - level desc
                - links
                - links desc
                - order
                - order desc
                - title
                - title desc
                - userTags
                - userTags desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - content
                - contentUrl
                - createdByAppId
                - lastModifiedDateTime
                - level
                - links
                - order
                - title
                - userTags
                - parentNotebook
                - parentSection
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSection
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of onenotePage
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.onenotePage'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - groups.onenote
      summary: Create new navigation property to pages for groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_CreatePages
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}':
    get:
      tags:
        - groups.onenote
      summary: Get pages from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_GetPages
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - content
                - contentUrl
                - createdByAppId
                - lastModifiedDateTime
                - level
                - links
                - order
                - title
                - userTags
                - parentNotebook
                - parentSection
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parentNotebook
                - parentSection
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenotePage'
          links:
            parentNotebook:
              operationId: groups.onenote.notebooks.sectionGroups.sections.Pages.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentSection:
              operationId: groups.onenote.notebooks.sectionGroups.sections.Pages.GetParentSection
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property pages in groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_UpdatePages
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenotePage'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property pages for groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_DeletePages
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/content':
    get:
      tags:
        - groups.onenote
      summary: Get media content for the navigation property pages from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_GetPagesContent
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - groups.onenote
      summary: Update media content for the navigation property pages in groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_SetPagesContent
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - isShared
                - links
                - sectionGroupsUrl
                - sectionsUrl
                - userRole
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentNotebook/$ref':
    get:
      tags:
        - groups.onenote
      summary: Get ref of parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_GetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - groups.onenote
      summary: Update the ref of navigation property parentNotebook in groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_SetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete ref of navigation property parentNotebook for groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_DeleteRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/pages/{onenotePage-id}/parentSection':
    get:
      tags:
        - groups.onenote
      summary: Get parentSection from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_GetParentSection
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - links
                - pagesUrl
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - pages
                - parentNotebook
                - parentSectionGroup
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.onenoteSection'
          links:
            pages:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentSection.ListPages
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentNotebook:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentSection.GetParentNotebook
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
            parentSectionGroup:
              operationId: groups.onenote.notebooks.sectionGroups.sections.pages.ParentSection.GetParentSectionGroup
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
                onenotePage-id: $request.path.onenotePage-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - groups.onenote
      summary: Update the navigation property parentSection in groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_UpdateParentSection
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.onenoteSection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - groups.onenote
      summary: Delete navigation property parentSection for groups
      operationId: groups.onenote.notebooks.sectionGroups.sections.pages_DeleteParentSection
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: onenotePage-id
          in: path
          description: 'key: id of onenotePage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenotePage
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook':
    get:
      tags:
        - groups.onenote
      summary: Get parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_GetParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - self
                - createdDateTime
                - createdBy
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - isDefault
                - isShared
                - links
                - sectionGroupsUrl
                - sectionsUrl
                - userRole
                - sectionGroups
                - sections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sectionGroups
                - sections
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.notebook'
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/groups/{group-id}/onenote/notebooks/{notebook-id}/sectionGroups/{sectionGroup-id}/sections/{onenoteSection-id}/parentNotebook/$ref':
    get:
      tags:
        - groups.onenote
      summary: Get ref of parentNotebook from groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_GetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            sectionGroups:
              operationId: groups.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSectionGroups
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
            sections:
              operationId: groups.onenote.notebooks.sectionGroups.sections.ParentNotebook.ListSections
              parameters:
                group-id: $request.path.group-id
                notebook-id: $request.path.notebook-id
                sectionGroup-id: $request.path.sectionGroup-id
                onenoteSection-id: $request.path.onenoteSection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - groups.onenote
      summary: Update the ref of navigation property parentNotebook in groups
      operationId: groups.onenote.notebooks.sectionGroups.sections_SetRefParentNotebook
      parameters:
        - name: group-id
          in: path
          description: 'key: id of group'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: group
        - name: notebook-id
          in: path
          description: 'key: id of notebook'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: notebook
        - name: sectionGroup-id
          in: path
          description: 'key: id of sectionGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sectionGroup
        - name: onenoteSection-id
          in: path
          description: 'key: id of onenoteSection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: onenoteSection
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
[...]
