openapi: 3.0.1
info:
  title: Search
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /external:
    get:
      tags:
        - external.external
      summary: Get external
      operationId: external.external_GetExternal
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - connections
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - connections
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
          links:
            connections:
              operationId: external.ListConnections
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.external
      summary: Update external
      operationId: external.external_UpdateExternal
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.external'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /external/connections:
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_ListConnections
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - configuration
                - configuration desc
                - connectorId
                - connectorId desc
                - description
                - description desc
                - name
                - name desc
                - searchSettings
                - searchSettings desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - connectorId
                - description
                - name
                - searchSettings
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalConnection
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to connections for external
      operationId: external_CreateConnections
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get connections from external
      operationId: external_GetConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - configuration
                - connectorId
                - description
                - name
                - searchSettings
                - state
                - groups
                - items
                - operations
                - schema
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - groups
                - items
                - operations
                - schema
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
          links:
            groups:
              operationId: external.Connections.ListGroups
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            items:
              operationId: external.Connections.ListItems
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            operations:
              operationId: external.Connections.ListOperations
              parameters:
                externalConnection-id: $request.path.externalConnection-id
            schema:
              operationId: external.Connections.GetSchema
              parameters:
                externalConnection-id: $request.path.externalConnection-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property connections in external
      operationId: external_UpdateConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property connections for external
      operationId: external_DeleteConnections
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connections_ListGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalGroup
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to groups for external
      operationId: external.connections_CreateGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get groups from external
      operationId: external.connections_GetGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - members
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - members
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
          links:
            members:
              operationId: external.connections.Groups.ListMembers
              parameters:
                externalConnection-id: $request.path.externalConnection-id
                externalGroup-id: $request.path.externalGroup-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property groups in external
      operationId: external.connections_UpdateGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property groups for external
      operationId: external.connections_DeleteGroups
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      operationId: external.connections.groups_ListMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - identitySource
                - identitySource desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - identitySource
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalGroupMember
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to members for external
      operationId: external.connections.groups_CreateMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/groups/{externalGroup-id}/members/{externalGroupMember-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get members from external
      operationId: external.connections.groups_GetMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: externalGroupMember-id
          in: path
          description: 'key: id of externalGroupMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroupMember
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - identitySource
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property members in external
      operationId: external.connections.groups_UpdateMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: externalGroupMember-id
          in: path
          description: 'key: id of externalGroupMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroupMember
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property members for external
      operationId: external.connections.groups_DeleteMembers
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalGroup-id
          in: path
          description: 'key: id of externalGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroup
        - name: externalGroupMember-id
          in: path
          description: 'key: id of externalGroupMember'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalGroupMember
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items':
    get:
      tags:
        - external.externalConnection
      summary: Get items from external
      operationId: external.connections_ListItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - acl
                - acl desc
                - content
                - content desc
                - properties
                - properties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of externalItem
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to items for external
      operationId: external.connections_CreateItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/items/{externalItem-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get items from external
      operationId: external.connections_GetItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acl
                - content
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property items in external
      operationId: external.connections_UpdateItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalItem
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property items for external
      operationId: external.connections_DeleteItems
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: externalItem-id
          in: path
          description: 'key: id of externalItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalItem
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connections_ListOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - error
                - error desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of connectionOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - external.externalConnection
      summary: Create new navigation property to operations for external
      operationId: external.connections_CreateOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/operations/{connectionOperation-id}':
    get:
      tags:
        - external.externalConnection
      summary: Get operations from external
      operationId: external.connections_GetOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - error
                - status
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property operations in external
      operationId: external.connections_UpdateOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property operations for external
      operationId: external.connections_DeleteOperations
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: connectionOperation-id
          in: path
          description: 'key: id of connectionOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: connectionOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/external/connections/{externalConnection-id}/schema':
    get:
      tags:
        - external.externalConnection
      summary: Get schema from external
      operationId: external.connections_GetSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - baseType
                - properties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - external.externalConnection
      summary: Update the navigation property schema in external
      operationId: external.connections_UpdateSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - external.externalConnection
      summary: Delete navigation property schema for external
      operationId: external.connections_DeleteSchema
      parameters:
        - name: externalConnection-id
          in: path
          description: 'key: id of externalConnection'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: externalConnection
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search:
    get:
      tags:
        - search.searchEntity
      summary: Get search
      operationId: search.searchEntity_GetSearchEntity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - acronyms
                - bookmarks
                - qnas
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - acronyms
                - bookmarks
                - qnas
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchEntity'
          links:
            acronyms:
              operationId: search.ListAcronyms
            bookmarks:
              operationId: search.ListBookmarks
            qnas:
              operationId: search.ListQnas
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.searchEntity
      summary: Update search
      operationId: search.searchEntity_UpdateSearchEntity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.searchEntity'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/acronyms:
    get:
      tags:
        - search.acronym
      summary: Get acronyms from search
      operationId: search_ListAcronyms
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - webUrl
                - webUrl desc
                - standsFor
                - standsFor desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - standsFor
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of acronym
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.search.acronym'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.acronym
      summary: Create new navigation property to acronyms for search
      operationId: search_CreateAcronyms
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.acronym'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/acronyms/{acronym-id}':
    get:
      tags:
        - search.acronym
      summary: Get acronyms from search
      operationId: search_GetAcronyms
      parameters:
        - name: acronym-id
          in: path
          description: 'key: id of acronym'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: acronym
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - standsFor
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.acronym
      summary: Update the navigation property acronyms in search
      operationId: search_UpdateAcronyms
      parameters:
        - name: acronym-id
          in: path
          description: 'key: id of acronym'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: acronym
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.acronym'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.acronym
      summary: Delete navigation property acronyms for search
      operationId: search_DeleteAcronyms
      parameters:
        - name: acronym-id
          in: path
          description: 'key: id of acronym'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: acronym
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/bookmarks:
    get:
      tags:
        - search.bookmark
      summary: Get bookmarks from search
      operationId: search_ListBookmarks
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - webUrl
                - webUrl desc
                - availabilityEndDateTime
                - availabilityEndDateTime desc
                - availabilityStartDateTime
                - availabilityStartDateTime desc
                - categories
                - categories desc
                - groupIds
                - groupIds desc
                - isSuggested
                - isSuggested desc
                - keywords
                - keywords desc
                - languageTags
                - languageTags desc
                - platforms
                - platforms desc
                - powerAppIds
                - powerAppIds desc
                - state
                - state desc
                - targetedVariations
                - targetedVariations desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - availabilityEndDateTime
                - availabilityStartDateTime
                - categories
                - groupIds
                - isSuggested
                - keywords
                - languageTags
                - platforms
                - powerAppIds
                - state
                - targetedVariations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bookmark
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.search.bookmark'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.bookmark
      summary: Create new navigation property to bookmarks for search
      operationId: search_CreateBookmarks
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/bookmarks/{bookmark-id}':
    get:
      tags:
        - search.bookmark
      summary: Get bookmarks from search
      operationId: search_GetBookmarks
      parameters:
        - name: bookmark-id
          in: path
          description: 'key: id of bookmark'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookmark
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - availabilityEndDateTime
                - availabilityStartDateTime
                - categories
                - groupIds
                - isSuggested
                - keywords
                - languageTags
                - platforms
                - powerAppIds
                - state
                - targetedVariations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.bookmark
      summary: Update the navigation property bookmarks in search
      operationId: search_UpdateBookmarks
      parameters:
        - name: bookmark-id
          in: path
          description: 'key: id of bookmark'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookmark
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.bookmark'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.bookmark
      summary: Delete navigation property bookmarks for search
      operationId: search_DeleteBookmarks
      parameters:
        - name: bookmark-id
          in: path
          description: 'key: id of bookmark'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bookmark
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /search/microsoft.graph.query:
    post:
      tags:
        - search.Actions
      summary: Invoke action query
      operationId: search_query
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                requests:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.searchRequest'
                queryAlterationOptions:
                  $ref: '#/components/schemas/microsoft.graph.searchAlterationOptions'
              additionalProperties:
                type: object
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.searchResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /search/qnas:
    get:
      tags:
        - search.qna
      summary: Get qnas from search
      operationId: search_ListQnas
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - description
                - description desc
                - displayName
                - displayName desc
                - lastModifiedBy
                - lastModifiedBy desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - webUrl
                - webUrl desc
                - availabilityEndDateTime
                - availabilityEndDateTime desc
                - availabilityStartDateTime
                - availabilityStartDateTime desc
                - groupIds
                - groupIds desc
                - isSuggested
                - isSuggested desc
                - keywords
                - keywords desc
                - languageTags
                - languageTags desc
                - platforms
                - platforms desc
                - state
                - state desc
                - targetedVariations
                - targetedVariations desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - availabilityEndDateTime
                - availabilityStartDateTime
                - groupIds
                - isSuggested
                - keywords
                - languageTags
                - platforms
                - state
                - targetedVariations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of qna
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.search.qna'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - search.qna
      summary: Create new navigation property to qnas for search
      operationId: search_CreateQnas
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.qna'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/search/qnas/{qna-id}':
    get:
      tags:
        - search.qna
      summary: Get qnas from search
      operationId: search_GetQnas
      parameters:
        - name: qna-id
          in: path
          description: 'key: id of qna'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: qna
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - description
                - displayName
                - lastModifiedBy
                - lastModifiedDateTime
                - webUrl
                - availabilityEndDateTime
                - availabilityStartDateTime
                - groupIds
                - isSuggested
                - keywords
                - languageTags
                - platforms
                - state
                - targetedVariations
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - search.qna
      summary: Update the navigation property qnas in search
      operationId: search_UpdateQnas
      parameters:
        - name: qna-id
          in: path
          description: 'key: id of qna'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: qna
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.search.qna'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - search.qna
      summary: Delete navigation property qnas for search
      operationId: search_DeleteQnas
      parameters:
        - name: qna-id
          in: path
          description: 'key: id of qna'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: qna
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.externalConnectors.external:
      title: external
      type: object
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalConnection'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalConnection:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalConnection
          type: object
          properties:
            configuration:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.configuration'
            connectorId:
              type: string
              nullable: true
            description:
              type: string
              nullable: true
            name:
              type: string
              nullable: true
            searchSettings:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.searchSettings'
            state:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionState'
            groups:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroup'
            items:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItem'
            operations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperation'
            schema:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.schema'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalGroup:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroup
          type: object
          properties:
            description:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            members:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMember'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalGroupMember:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalGroupMember
          type: object
          properties:
            identitySource:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.identitySourceType'
            type:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalGroupMemberType'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.externalItem:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: externalItem
          type: object
          properties:
            acl:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.acl'
            content:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemContent'
            properties:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.properties'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.connectionOperation:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: connectionOperation
          type: object
          properties:
            error:
              $ref: '#/components/schemas/microsoft.graph.publicError'
            status:
              $ref: '#/components/schemas/microsoft.graph.externalConnectors.connectionOperationStatus'
          additionalProperties:
            type: object
    microsoft.graph.externalConnectors.schema:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: schema
          type: object
          properties:
            baseType:
              type: string
            properties:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.externalConnectors.property'
          additionalProperties:
            type: object
    microsoft.graph.searchEntity:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: searchEntity
          type: object
          properties:
            acronyms:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.acronym'
            bookmarks:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.bookmark'
            qnas:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.qna'
          additionalProperties:
            type: object
    microsoft.graph.search.acronym:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.search.searchAnswer'
        - title: acronym
          type: object
          properties:
            standsFor:
              type: string
              nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.search.answerState'
          additionalProperties:
            type: object
    microsoft.graph.search.bookmark:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.search.searchAnswer'
        - title: bookmark
          type: object
          properties:
            availabilityEndDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            availabilityStartDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            categories:
              type: array
              items:
                type: string
                nullable: true
            groupIds:
              type: array
              items:
                type: string
                nullable: true
            isSuggested:
              type: boolean
              nullable: true
            keywords:
              $ref: '#/components/schemas/microsoft.graph.search.answerKeyword'
            languageTags:
              type: array
              items:
                type: string
                nullable: true
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
            powerAppIds:
              type: array
              items:
                type: string
                nullable: true
            state:
              $ref: '#/components/schemas/microsoft.graph.search.answerState'
            targetedVariations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.answerVariant'
          additionalProperties:
            type: object
    microsoft.graph.searchRequest:
      title: searchRequest
      type: object
      properties:
        aggregationFilters:
          type: array
          items:
            type: string
            nullable: true
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.aggregationOption'
        contentSources:
          type: array
          items:
            type: string
            nullable: true
        enableTopResults:
          type: boolean
          nullable: true
        entityTypes:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.entityType'
        fields:
          type: array
          items:
            type: string
            nullable: true
        from:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        query:
          $ref: '#/components/schemas/microsoft.graph.searchQuery'
        resultTemplateOptions:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateOption'
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        sortProperties:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.sortProperty'
        stored_fields:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationOptions:
      title: searchAlterationOptions
      type: object
      properties:
        enableModification:
          type: boolean
          nullable: true
        enableSuggestion:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchResponse:
      title: searchResponse
      type: object
      properties:
        queryAlterationResponse:
          $ref: '#/components/schemas/microsoft.graph.alterationResponse'
        value:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchResultSet'
      additionalProperties:
        type: object
    microsoft.graph.search.qna:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.search.searchAnswer'
        - title: qna
          type: object
          properties:
            availabilityEndDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            availabilityStartDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            groupIds:
              type: array
              items:
                type: string
                nullable: true
            isSuggested:
              type: boolean
              nullable: true
            keywords:
              $ref: '#/components/schemas/microsoft.graph.search.answerKeyword'
            languageTags:
              type: array
              items:
                type: string
                nullable: true
            platforms:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
            state:
              $ref: '#/components/schemas/microsoft.graph.search.answerState'
            targetedVariations:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.search.answerVariant'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.configuration:
      title: configuration
      type: object
      properties:
        authorizedAppIds:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.searchSettings:
      title: searchSettings
      type: object
      properties:
        searchResultTemplates:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.displayTemplate'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.connectionState:
      title: connectionState
      enum:
        - draft
        - ready
        - obsolete
        - limitExceeded
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.identitySourceType:
      title: identitySourceType
      enum:
        - azureActiveDirectory
        - external
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.externalGroupMemberType:
      title: externalGroupMemberType
      enum:
        - user
        - group
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.acl:
      title: acl
      type: object
      properties:
        accessType:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.accessType'
        identitySource:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.identitySourceType'
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.aclType'
        value:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.externalItemContent:
      title: externalItemContent
      type: object
      properties:
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.externalItemContentType'
        value:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.properties:
      title: properties
      type: object
      additionalProperties:
        type: object
    microsoft.graph.publicError:
      title: publicError
      type: object
      properties:
        code:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.publicErrorDetail'
        innerError:
          $ref: '#/components/schemas/microsoft.graph.publicInnerError'
        message:
          type: string
          nullable: true
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.connectionOperationStatus:
      title: connectionOperationStatus
      enum:
        - unspecified
        - inprogress
        - completed
        - failed
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.property:
      title: property
      type: object
      properties:
        aliases:
          type: array
          items:
            type: string
            nullable: true
        isQueryable:
          type: boolean
          nullable: true
        isRefinable:
          type: boolean
          nullable: true
        isRetrievable:
          type: boolean
          nullable: true
        isSearchable:
          type: boolean
          nullable: true
        labels:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.label'
        name:
          type: string
        type:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.propertyType'
      additionalProperties:
        type: object
    microsoft.graph.search.searchAnswer:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: searchAnswer
          type: object
          properties:
            description:
              type: string
              nullable: true
            displayName:
              type: string
            lastModifiedBy:
              $ref: '#/components/schemas/microsoft.graph.search.identitySet'
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            webUrl:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.search.answerState:
      title: answerState
      enum:
        - published
        - draft
        - excluded
        - unknownFutureValue
      type: string
    microsoft.graph.search.answerKeyword:
      title: answerKeyword
      type: object
      properties:
        keywords:
          type: array
          items:
            type: string
            nullable: true
        matchSimilarKeywords:
          type: boolean
          nullable: true
        reservedKeywords:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    microsoft.graph.devicePlatformType:
      title: devicePlatformType
      enum:
        - android
        - androidForWork
        - iOS
        - macOS
        - windowsPhone81
        - windows81AndLater
        - windows10AndLater
        - androidWorkProfile
        - unknown
        - androidAOSP
      type: string
      description: Supported platform types.
    microsoft.graph.search.answerVariant:
      title: answerVariant
      type: object
      properties:
        description:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        languageTag:
          type: string
          nullable: true
        platform:
          $ref: '#/components/schemas/microsoft.graph.devicePlatformType'
        webUrl:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.aggregationOption:
      title: aggregationOption
      type: object
      properties:
        bucketDefinition:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationDefinition'
        field:
          type: string
        size:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.entityType:
      title: entityType
      enum:
        - event
        - message
        - driveItem
        - externalItem
        - site
        - list
        - listItem
        - drive
        - unknownFutureValue
      type: string
    microsoft.graph.searchQuery:
      title: searchQuery
      type: object
      properties:
        queryString:
          type: string
          nullable: true
        query_string:
          $ref: '#/components/schemas/microsoft.graph.searchQueryString'
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateOption:
      title: resultTemplateOption
      type: object
      properties:
        enableResultTemplate:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.sortProperty:
      title: sortProperty
      type: object
      properties:
        isDescending:
          type: boolean
          nullable: true
        name:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.alterationResponse:
      title: alterationResponse
      type: object
      properties:
        originalQueryString:
          type: string
          nullable: true
        queryAlteration:
          $ref: '#/components/schemas/microsoft.graph.searchAlteration'
        queryAlterationType:
          $ref: '#/components/schemas/microsoft.graph.searchAlterationType'
      additionalProperties:
        type: object
    microsoft.graph.searchResultSet:
      title: searchResultSet
      type: object
      properties:
        hitsContainers:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHitsContainer'
        resultTemplates:
          $ref: '#/components/schemas/microsoft.graph.resultTemplateDictionary'
        searchTerms:
          type: array
          items:
            type: string
            nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.displayTemplate:
      title: displayTemplate
      type: object
      properties:
        id:
          type: string
        layout:
          $ref: '#/components/schemas/microsoft.graph.Json'
        priority:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
        rules:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.externalConnectors.propertyRule'
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.accessType:
      title: accessType
      enum:
        - grant
        - deny
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.aclType:
      title: aclType
      enum:
        - user
        - group
        - everyone
        - everyoneExceptGuests
        - externalGroup
        - unknownFutureValue
      type: string
    microsoft.graph.externalConnectors.externalItemContentType:
      title: externalItemContentType
      enum:
        - text
        - html
        - unknownFutureValue
      type: string
    microsoft.graph.publicErrorDetail:
      title: publicErrorDetail
      type: object
      properties:
        code:
          type: string
          nullable: true
        message:
          type: string
          nullable: true
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.publicInnerError:
      title: publicInnerError
      type: object
      properties:
        code:
          type: string
          nullable: true
        details:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.publicErrorDetail'
        message:
          type: string
          nullable: true
        target:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.label:
      title: label
      enum:
        - title
        - url
        - createdBy
        - lastModifiedBy
        - authors
        - createdDateTime
        - lastModifiedDateTime
        - fileName
        - fileExtension
        - unknownFutureValue
        - iconUrl
        - containerName
        - containerUrl
      type: string
    microsoft.graph.externalConnectors.propertyType:
      title: propertyType
      enum:
        - string
        - int64
        - double
        - dateTime
        - boolean
        - stringCollection
        - int64Collection
        - doubleCollection
        - dateTimeCollection
        - unknownFutureValue
      type: string
    microsoft.graph.search.identitySet:
      title: identitySet
      type: object
      properties:
        application:
          $ref: '#/components/schemas/microsoft.graph.search.identity'
        device:
          $ref: '#/components/schemas/microsoft.graph.search.identity'
        user:
          $ref: '#/components/schemas/microsoft.graph.search.identity'
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationDefinition:
      title: bucketAggregationDefinition
      type: object
      properties:
        isDescending:
          type: boolean
          nullable: true
        minimumCount:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        prefixFilter:
          type: string
          nullable: true
        ranges:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.bucketAggregationRange'
        sortBy:
          $ref: '#/components/schemas/microsoft.graph.bucketAggregationSortProperty'
      additionalProperties:
        type: object
    microsoft.graph.searchQueryString:
      title: searchQueryString
      type: object
      properties:
        query:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.searchAlteration:
      title: searchAlteration
      type: object
      properties:
        alteredHighlightedQueryString:
          type: string
          nullable: true
        alteredQueryString:
          type: string
          nullable: true
        alteredQueryTokens:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.alteredQueryToken'
      additionalProperties:
        type: object
    microsoft.graph.searchAlterationType:
      title: searchAlterationType
      enum:
        - suggestion
        - modification
        - unknownFutureValue
      type: string
    microsoft.graph.searchHitsContainer:
      title: searchHitsContainer
      type: object
      properties:
        aggregations:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchAggregation'
        hits:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchHit'
        moreResultsAvailable:
          type: boolean
          nullable: true
        total:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resultTemplateDictionary:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.Dictionary'
        - title: resultTemplateDictionary
          type: object
          additionalProperties:
            type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.Json:
      title: Json
      type: object
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.propertyRule:
      title: propertyRule
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/microsoft.graph.externalConnectors.ruleOperation'
        property:
          type: string
        values:
          type: array
          items:
            type: string
        valuesJoinedBy:
          $ref: '#/components/schemas/microsoft.graph.binaryOperator'
      additionalProperties:
        type: object
    microsoft.graph.search.identity:
      title: identity
      type: object
      properties:
        displayName:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationRange:
      title: bucketAggregationRange
      type: object
      properties:
        from:
          type: string
        to:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.bucketAggregationSortProperty:
      title: bucketAggregationSortProperty
      enum:
        - count
        - keyAsString
        - keyAsNumber
        - unknownFutureValue
      type: string
    microsoft.graph.alteredQueryToken:
      title: alteredQueryToken
      type: object
      properties:
        length:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        offset:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        suggestion:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchAggregation:
      title: searchAggregation
      type: object
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.searchBucket'
        field:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.searchHit:
      title: searchHit
      type: object
      properties:
        contentSource:
          type: string
          nullable: true
        hitId:
          type: string
          nullable: true
        rank:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        resultTemplateId:
          type: string
          nullable: true
        summary:
          type: string
          nullable: true
        _id:
          type: string
          nullable: true
        _score:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        _summary:
          type: string
          nullable: true
        resource:
          $ref: '#/components/schemas/microsoft.graph.entity'
        _source:
          $ref: '#/components/schemas/microsoft.graph.entity'
      additionalProperties:
        type: object
    microsoft.graph.Dictionary:
      title: Dictionary
      type: object
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.externalConnectors.ruleOperation:
      title: ruleOperation
      enum:
        - 'null'
        - equals
        - notEquals
        - contains
        - notContains
        - lessThan
        - greaterThan
        - startsWith
        - unknownFutureValue
      type: string
    microsoft.graph.binaryOperator:
      title: binaryOperator
      enum:
        - or
        - and
      type: string
    microsoft.graph.searchBucket:
      title: searchBucket
      type: object
      properties:
        aggregationFilterToken:
          type: string
          nullable: true
        count:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        key:
          type: string
          nullable: true
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
[...]
