openapi: 3.0.1
info:
  title: Users.Functions
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  '/users/{user-id}/activities/microsoft.graph.recent()':
    get:
      tags:
        - users.Functions
      summary: Invoke function recent
      operationId: users.activities_recent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.userActivity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/appConsentRequestsForApproval/{appConsentRequest-id}/userConsentRequests/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.appConsentRequestsForApproval.userConsentRequests_filterByCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: appConsentRequest-id
          in: path
          description: 'key: id of appConsentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: appConsentRequest
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.userConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/appConsentRequestsForApproval/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.appConsentRequestsForApproval_filterByCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.consentRequestFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.appConsentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/approvals/microsoft.graph.filterByCurrentUser(on={on})':
    get:
      tags:
        - users.Functions
      summary: Invoke function filterByCurrentUser
      operationId: users.approvals_filterByCurrentUser
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: on
          in: path
          description: 'Usage: on={on}'
          required: true
          schema:
            $ref: '#/components/schemas/microsoft.graph.approvalFilterByCurrentUserOptions'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.approval'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendar.calendarView.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendar.events.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendar.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendarGroups.calendars.calendarView.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendarGroups.calendars.events.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarGroups.calendars.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarGroups/{calendarGroup-id}/calendars/{calendar-id}/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendarGroups.calendars_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendarGroup-id
          in: path
          description: 'key: id of calendarGroup'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendarGroup
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendars.calendarView.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendars.events.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendars.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendars/{calendar-id}/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendars_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: calendar-id
          in: path
          description: 'key: id of calendar'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: calendar
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/calendar/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.calendar.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/calendar/events/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.calendar.events_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/calendar/microsoft.graph.allowedCalendarSharingRoles(User=''{User}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function allowedCalendarSharingRoles
      operationId: users.calendarView.calendar_allowedCalendarSharingRoles
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
        - name: User
          in: path
          description: 'Usage: User={User}'
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.calendarRoleType'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/exceptionOccurrences/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.exceptionOccurrences_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/{event-id}/instances/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView.instances_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: event-id
          in: path
          description: 'key: id of event'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: event
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/calendarView/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.calendarView_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.event'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/{chat-id}/messages/{chatMessage-id}/replies/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.chats.messages.replies_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
        - name: chatMessage-id
          in: path
          description: 'key: id of chatMessage'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chatMessage
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/chats/{chat-id}/messages/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.chats.messages_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: chat-id
          in: path
          description: 'key: id of chat'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: chat
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.chatMessage'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders.childFolders_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders.contacts_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contactFolders/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contactFolders_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/contacts/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.contacts_delta
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.bundles.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.bundles.children_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.bundles.children_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.bundles.children_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drive.bundles.children_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q={q}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/listItem/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.bundles.listItem.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.bundles.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.bundles_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.bundles_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.bundles_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/bundles/{driveItem-id}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drive.bundles_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q={q}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.following.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.following.children_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.following.children_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.following.children_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drive.following.children_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q={q}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/listItem/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.following.listItem.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.following.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.following_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.following_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.following_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/following/{driveItem-id}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drive.following_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q={q}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.items.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.items.children_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.items.children_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.items.children_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/children/{driveItem-id1}/microsoft.graph.search(q=''{q}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function search
      operationId: users.drive.items.children_search
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: driveItem-id1
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: q
          in: path
          description: 'Usage: q={q}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/listItem/activities/{itemActivityOLD-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.items.listItem.activities.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: itemActivityOLD-id
          in: path
          description: 'key: id of itemActivityOLD'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: itemActivityOLD
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/listItem/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.items.listItem_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/microsoft.graph.delta()':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.items_delta-90ce
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/microsoft.graph.delta(token=''{token}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function delta
      operationId: users.drive.items_delta-cb24
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: token
          in: path
          description: 'Usage: token={token}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.driveItem'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/users/{user-id}/drive/items/{driveItem-id}/microsoft.graph.getActivitiesByInterval(startDateTime=''{startDateTime}'',endDateTime=''{endDateTime}'',interval=''{interval}'')':
    get:
      tags:
        - users.Functions
      summary: Invoke function getActivitiesByInterval
      operationId: users.drive.items_getActivitiesByInterval
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: driveItem-id
          in: path
          description: 'key: id of driveItem'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: driveItem
        - name: startDateTime
          in: path
          description: 'Usage: startDateTime={startDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: endDateTime
          in: path
          description: 'Usage: endDateTime={endDateTime}'
          required: true
          schema:
            type: string
            nullable: true
        - name: interval
          in: path
          description: 'Usage: interval={interval}'
          required: true
          schema:
            type: string
            nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.itemActivityStat'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
[...]
