openapi: 3.0.1
info:
  title: Identity.SignIns
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get entities from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedDateTime
                - completedDateTime desc
                - progress
                - progress desc
                - status
                - status desc
                - storageLocation
                - storageLocation desc
                - submittedDateTime
                - submittedDateTime desc
                - userId
                - userId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of dataPolicyOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get entity from dataPolicyOperations by key
      operationId: dataPolicyOperations.dataPolicyOperation_GetDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - progress
                - status
                - storageLocation
                - submittedDateTime
                - userId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get conditionalAccess from identity
      operationId: identity_GetConditionalAccess
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - namedLocations
                - policies
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - namedLocations
                - policies
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
          links:
            namedLocations:
              operationId: identity.ConditionalAccess.ListNamedLocations
            policies:
              operationId: identity.ConditionalAccess.ListPolicies
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property conditionalAccess in identity
      operationId: identity_UpdateConditionalAccess
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property conditionalAccess for identity
      operationId: identity_DeleteConditionalAccess
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/namedLocations:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_ListNamedLocations
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - displayName
                - displayName desc
                - modifiedDateTime
                - modifiedDateTime desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of namedLocation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.namedLocation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to namedLocations for identity
      operationId: identity.conditionalAccess_CreateNamedLocations
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/namedLocations/{namedLocation-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get namedLocations from identity
      operationId: identity.conditionalAccess_GetNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - displayName
                - modifiedDateTime
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.namedLocation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property namedLocations in identity
      operationId: identity.conditionalAccess_UpdateNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.namedLocation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property namedLocations for identity
      operationId: identity.conditionalAccess_DeleteNamedLocations
      parameters:
        - name: namedLocation-id
          in: path
          description: 'key: id of namedLocation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: namedLocation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/conditionalAccess/policies:
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_ListPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - conditions
                - conditions desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - displayName
                - displayName desc
                - grantControls
                - grantControls desc
                - modifiedDateTime
                - modifiedDateTime desc
                - sessionControls
                - sessionControls desc
                - state
                - state desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of conditionalAccessPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.conditionalAccessRoot
      summary: Create new navigation property to policies for identity
      operationId: identity.conditionalAccess_CreatePolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/conditionalAccess/policies/{conditionalAccessPolicy-id}':
    get:
      tags:
        - identity.conditionalAccessRoot
      summary: Get policies from identity
      operationId: identity.conditionalAccess_GetPolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - conditions
                - createdDateTime
                - description
                - displayName
                - grantControls
                - modifiedDateTime
                - sessionControls
                - state
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identity.conditionalAccessRoot
      summary: Update the navigation property policies in identity
      operationId: identity.conditionalAccess_UpdatePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.conditionalAccessPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identity.conditionalAccessRoot
      summary: Delete navigation property policies for identity
      operationId: identity.conditionalAccess_DeletePolicies
      parameters:
        - name: conditionalAccessPolicy-id
          in: path
          description: 'key: id of conditionalAccessPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: conditionalAccessPolicy
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityProviders:
    get:
      tags:
        - identityProviders.identityProvider
      summary: Get entities from identityProviders
      operationId: identityProviders.identityProvider_ListIdentityProvider
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - clientSecret
                - clientSecret desc
                - name
                - name desc
                - type
                - type desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of identityProvider
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.identityProvider'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityProviders.identityProvider
      summary: Add new entity to identityProviders
      operationId: identityProviders.identityProvider_CreateIdentityProvider
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityProviders/{identityProvider-id}':
    get:
      tags:
        - identityProviders.identityProvider
      summary: Get entity from identityProviders by key
      operationId: identityProviders.identityProvider_GetIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - clientSecret
                - name
                - type
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityProviders.identityProvider
      summary: Update entity in identityProviders
      operationId: identityProviders.identityProvider_UpdateIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityProviders.identityProvider
      summary: Delete entity from identityProviders
      operationId: identityProviders.identityProvider_DeleteIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityProviders/microsoft.graph.availableProviderTypes():
    get:
      tags:
        - identityProviders.Functions
      summary: Invoke function availableProviderTypes
      operationId: identityProviders_availableProviderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /informationProtection:
    get:
      tags:
        - informationProtection.informationProtection
      summary: Get informationProtection
      operationId: informationProtection.informationProtection_GetInformationProtection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - bitlocker
                - threatAssessmentRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - bitlocker
                - threatAssessmentRequests
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
          links:
            bitlocker:
              operationId: informationProtection.GetBitlocker
            threatAssessmentRequests:
              operationId: informationProtection.ListThreatAssessmentRequests
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.informationProtection
      summary: Update informationProtection
      operationId: informationProtection.informationProtection_UpdateInformationProtection
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker:
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get bitlocker from informationProtection
      operationId: informationProtection_GetBitlocker
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - recoveryKeys
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - recoveryKeys
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlocker'
          links:
            recoveryKeys:
              operationId: informationProtection.Bitlocker.ListRecoveryKeys
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.bitlocker
      summary: Update the navigation property bitlocker in informationProtection
      operationId: informationProtection_UpdateBitlocker
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bitlocker'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.bitlocker
      summary: Delete navigation property bitlocker for informationProtection
      operationId: informationProtection_DeleteBitlocker
      parameters:
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/bitlocker/recoveryKeys:
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get recoveryKeys from informationProtection
      operationId: informationProtection.bitlocker_ListRecoveryKeys
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - deviceId
                - deviceId desc
                - key
                - key desc
                - volumeType
                - volumeType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - deviceId
                - key
                - volumeType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of bitlockerRecoveryKey
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.bitlocker
      summary: Create new navigation property to recoveryKeys for informationProtection
      operationId: informationProtection.bitlocker_CreateRecoveryKeys
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/bitlocker/recoveryKeys/{bitlockerRecoveryKey-id}':
    get:
      tags:
        - informationProtection.bitlocker
      summary: Get recoveryKeys from informationProtection
      operationId: informationProtection.bitlocker_GetRecoveryKeys
      parameters:
        - name: bitlockerRecoveryKey-id
          in: path
          description: 'key: id of bitlockerRecoveryKey'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bitlockerRecoveryKey
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - deviceId
                - key
                - volumeType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.bitlocker
      summary: Update the navigation property recoveryKeys in informationProtection
      operationId: informationProtection.bitlocker_UpdateRecoveryKeys
      parameters:
        - name: bitlockerRecoveryKey-id
          in: path
          description: 'key: id of bitlockerRecoveryKey'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bitlockerRecoveryKey
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.bitlockerRecoveryKey'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.bitlocker
      summary: Delete navigation property recoveryKeys for informationProtection
      operationId: informationProtection.bitlocker_DeleteRecoveryKeys
      parameters:
        - name: bitlockerRecoveryKey-id
          in: path
          description: 'key: id of bitlockerRecoveryKey'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: bitlockerRecoveryKey
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/threatAssessmentRequests:
    get:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Get threatAssessmentRequests from informationProtection
      operationId: informationProtection_ListThreatAssessmentRequests
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - category
                - category desc
                - contentType
                - contentType desc
                - createdBy
                - createdBy desc
                - createdDateTime
                - createdDateTime desc
                - expectedAssessment
                - expectedAssessment desc
                - requestSource
                - requestSource desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - contentType
                - createdBy
                - createdDateTime
                - expectedAssessment
                - requestSource
                - status
                - results
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - results
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of threatAssessmentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Create new navigation property to threatAssessmentRequests for informationProtection
      operationId: informationProtection_CreateThreatAssessmentRequests
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/threatAssessmentRequests/{threatAssessmentRequest-id}':
    get:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Get threatAssessmentRequests from informationProtection
      operationId: informationProtection_GetThreatAssessmentRequests
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - contentType
                - createdBy
                - createdDateTime
                - expectedAssessment
                - requestSource
                - status
                - results
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - results
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
          links:
            results:
              operationId: informationProtection.ThreatAssessmentRequests.ListResults
              parameters:
                threatAssessmentRequest-id: $request.path.threatAssessmentRequest-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Update the navigation property threatAssessmentRequests in informationProtection
      operationId: informationProtection_UpdateThreatAssessmentRequests
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Delete navigation property threatAssessmentRequests for informationProtection
      operationId: informationProtection_DeleteThreatAssessmentRequests
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/threatAssessmentRequests/{threatAssessmentRequest-id}/results':
    get:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Get results from informationProtection
      operationId: informationProtection.threatAssessmentRequests_ListResults
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - createdDateTime
                - createdDateTime desc
                - message
                - message desc
                - resultType
                - resultType desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - message
                - resultType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of threatAssessmentResult
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Create new navigation property to results for informationProtection
      operationId: informationProtection.threatAssessmentRequests_CreateResults
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/threatAssessmentRequests/{threatAssessmentRequest-id}/results/{threatAssessmentResult-id}':
    get:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Get results from informationProtection
      operationId: informationProtection.threatAssessmentRequests_GetResults
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - name: threatAssessmentResult-id
          in: path
          description: 'key: id of threatAssessmentResult'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentResult
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - createdDateTime
                - message
                - resultType
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Update the navigation property results in informationProtection
      operationId: informationProtection.threatAssessmentRequests_UpdateResults
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - name: threatAssessmentResult-id
          in: path
          description: 'key: id of threatAssessmentResult'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentResult
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.threatAssessmentResult'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - informationProtection.threatAssessmentRequest
      summary: Delete navigation property results for informationProtection
      operationId: informationProtection.threatAssessmentRequests_DeleteResults
      parameters:
        - name: threatAssessmentRequest-id
          in: path
          description: 'key: id of threatAssessmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentRequest
        - name: threatAssessmentResult-id
          in: path
          description: 'key: id of threatAssessmentResult'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: threatAssessmentResult
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /invitations:
    get:
      tags:
        - invitations.invitation
      summary: Get entities from invitations
      operationId: invitations.invitation_ListInvitation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - invitedUserDisplayName
                - invitedUserDisplayName desc
                - invitedUserEmailAddress
                - invitedUserEmailAddress desc
                - invitedUserMessageInfo
                - invitedUserMessageInfo desc
                - invitedUserType
                - invitedUserType desc
                - inviteRedeemUrl
                - inviteRedeemUrl desc
                - inviteRedirectUrl
                - inviteRedirectUrl desc
                - sendInvitationMessage
                - sendInvitationMessage desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - invitedUserDisplayName
                - invitedUserEmailAddress
                - invitedUserMessageInfo
                - invitedUserType
                - inviteRedeemUrl
                - inviteRedirectUrl
                - sendInvitationMessage
                - status
                - invitedUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - invitedUser
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of invitation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.invitation'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - invitations.invitation
      summary: Add new entity to invitations
      operationId: invitations.invitation_CreateInvitation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.invitation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.invitation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/invitations/{invitation-id}':
    get:
      tags:
        - invitations.invitation
      summary: Get entity from invitations by key
      operationId: invitations.invitation_GetInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - invitedUserDisplayName
                - invitedUserEmailAddress
                - invitedUserMessageInfo
                - invitedUserType
                - inviteRedeemUrl
                - inviteRedirectUrl
                - sendInvitationMessage
                - status
                - invitedUser
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - invitedUser
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.invitation'
          links:
            invitedUser:
              operationId: invitations.GetInvitedUser
              parameters:
                invitation-id: $request.path.invitation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - invitations.invitation
      summary: Update entity in invitations
      operationId: invitations.invitation_UpdateInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.invitation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - invitations.invitation
      summary: Delete entity from invitations
      operationId: invitations.invitation_DeleteInvitation
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/invitations/{invitation-id}/invitedUser':
    get:
      tags:
        - invitations.user
      summary: Get invitedUser from invitations
      operationId: invitations_GetInvitedUser
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - deletedDateTime
                - accountEnabled
                - ageGroup
                - assignedLicenses
                - assignedPlans
                - businessPhones
                - city
                - companyName
                - consentProvidedForMinor
                - country
                - createdDateTime
                - creationType
                - department
                - displayName
                - employeeHireDate
                - employeeId
                - employeeOrgData
                - employeeType
                - externalUserState
                - externalUserStateChangeDateTime
                - faxNumber
                - givenName
                - identities
                - imAddresses
                - isResourceAccount
                - jobTitle
                - lastPasswordChangeDateTime
                - legalAgeGroupClassification
                - licenseAssignmentStates
                - mail
                - mailNickname
                - mobilePhone
                - officeLocation
                - onPremisesDistinguishedName
                - onPremisesDomainName
                - onPremisesExtensionAttributes
                - onPremisesImmutableId
                - onPremisesLastSyncDateTime
                - onPremisesProvisioningErrors
                - onPremisesSamAccountName
                - onPremisesSecurityIdentifier
                - onPremisesSyncEnabled
                - onPremisesUserPrincipalName
                - otherMails
                - passwordPolicies
                - passwordProfile
                - postalCode
                - preferredLanguage
                - provisionedPlans
                - proxyAddresses
                - showInAddressList
                - signInSessionsValidFromDateTime
                - state
                - streetAddress
                - surname
                - usageLocation
                - userPrincipalName
                - userType
                - mailboxSettings
                - deviceEnrollmentLimit
                - aboutMe
                - birthday
                - hireDate
                - interests
                - mySite
                - pastProjects
                - preferredName
                - responsibilities
                - schools
                - skills
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - appRoleAssignments
                - createdObjects
                - directReports
                - licenseDetails
                - manager
                - memberOf
                - oauth2PermissionGrants
                - ownedDevices
                - ownedObjects
                - registeredDevices
                - scopedRoleMemberOf
                - transitiveMemberOf
                - calendar
                - calendarGroups
                - calendars
                - calendarView
                - contactFolders
                - contacts
                - events
                - inferenceClassification
                - mailFolders
                - messages
                - outlook
                - people
                - photo
                - photos
                - drive
                - drives
                - followedSites
                - extensions
                - agreementAcceptances
                - managedDevices
                - managedAppRegistrations
                - deviceManagementTroubleshootingEvents
                - planner
                - insights
                - settings
                - onenote
                - activities
                - onlineMeetings
                - presence
                - authentication
                - chats
                - joinedTeams
                - teamwork
                - todo
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.user'
          links:
            appRoleAssignments:
              operationId: invitations.InvitedUser.ListAppRoleAssignments
              parameters:
                invitation-id: $request.path.invitation-id
            createdObjects:
              operationId: invitations.InvitedUser.ListCreatedObjects
              parameters:
                invitation-id: $request.path.invitation-id
            directReports:
              operationId: invitations.InvitedUser.ListDirectReports
              parameters:
                invitation-id: $request.path.invitation-id
            licenseDetails:
              operationId: invitations.InvitedUser.ListLicenseDetails
              parameters:
                invitation-id: $request.path.invitation-id
            manager:
              operationId: invitations.InvitedUser.GetManager
              parameters:
                invitation-id: $request.path.invitation-id
            memberOf:
              operationId: invitations.InvitedUser.ListMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            oauth2PermissionGrants:
              operationId: invitations.InvitedUser.ListOauth2PermissionGrants
              parameters:
                invitation-id: $request.path.invitation-id
            ownedDevices:
              operationId: invitations.InvitedUser.ListOwnedDevices
              parameters:
                invitation-id: $request.path.invitation-id
            ownedObjects:
              operationId: invitations.InvitedUser.ListOwnedObjects
              parameters:
                invitation-id: $request.path.invitation-id
            registeredDevices:
              operationId: invitations.InvitedUser.ListRegisteredDevices
              parameters:
                invitation-id: $request.path.invitation-id
            scopedRoleMemberOf:
              operationId: invitations.InvitedUser.ListScopedRoleMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            transitiveMemberOf:
              operationId: invitations.InvitedUser.ListTransitiveMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            calendar:
              operationId: invitations.InvitedUser.GetCalendar
              parameters:
                invitation-id: $request.path.invitation-id
            calendarGroups:
              operationId: invitations.InvitedUser.ListCalendarGroups
              parameters:
                invitation-id: $request.path.invitation-id
            calendars:
              operationId: invitations.InvitedUser.ListCalendars
              parameters:
                invitation-id: $request.path.invitation-id
            calendarView:
              operationId: invitations.InvitedUser.ListCalendarView
              parameters:
                invitation-id: $request.path.invitation-id
            contactFolders:
              operationId: invitations.InvitedUser.ListContactFolders
              parameters:
                invitation-id: $request.path.invitation-id
            contacts:
              operationId: invitations.InvitedUser.ListContacts
              parameters:
                invitation-id: $request.path.invitation-id
            events:
              operationId: invitations.InvitedUser.ListEvents
              parameters:
                invitation-id: $request.path.invitation-id
            inferenceClassification:
              operationId: invitations.InvitedUser.GetInferenceClassification
              parameters:
                invitation-id: $request.path.invitation-id
            mailFolders:
              operationId: invitations.InvitedUser.ListMailFolders
              parameters:
                invitation-id: $request.path.invitation-id
            messages:
              operationId: invitations.InvitedUser.ListMessages
              parameters:
                invitation-id: $request.path.invitation-id
            outlook:
              operationId: invitations.InvitedUser.GetOutlook
              parameters:
                invitation-id: $request.path.invitation-id
            people:
              operationId: invitations.InvitedUser.ListPeople
              parameters:
                invitation-id: $request.path.invitation-id
            photo:
              operationId: invitations.InvitedUser.GetPhoto
              parameters:
                invitation-id: $request.path.invitation-id
            photos:
              operationId: invitations.InvitedUser.ListPhotos
              parameters:
                invitation-id: $request.path.invitation-id
            drive:
              operationId: invitations.InvitedUser.GetDrive
              parameters:
                invitation-id: $request.path.invitation-id
            drives:
              operationId: invitations.InvitedUser.ListDrives
              parameters:
                invitation-id: $request.path.invitation-id
            followedSites:
              operationId: invitations.InvitedUser.ListFollowedSites
              parameters:
                invitation-id: $request.path.invitation-id
            extensions:
              operationId: invitations.InvitedUser.ListExtensions
              parameters:
                invitation-id: $request.path.invitation-id
            agreementAcceptances:
              operationId: invitations.InvitedUser.ListAgreementAcceptances
              parameters:
                invitation-id: $request.path.invitation-id
            managedDevices:
              operationId: invitations.InvitedUser.ListManagedDevices
              parameters:
                invitation-id: $request.path.invitation-id
            managedAppRegistrations:
              operationId: invitations.InvitedUser.ListManagedAppRegistrations
              parameters:
                invitation-id: $request.path.invitation-id
            deviceManagementTroubleshootingEvents:
              operationId: invitations.InvitedUser.ListDeviceManagementTroubleshootingEvents
              parameters:
                invitation-id: $request.path.invitation-id
            planner:
              operationId: invitations.InvitedUser.GetPlanner
              parameters:
                invitation-id: $request.path.invitation-id
            insights:
              operationId: invitations.InvitedUser.GetInsights
              parameters:
                invitation-id: $request.path.invitation-id
            settings:
              operationId: invitations.InvitedUser.GetSettings
              parameters:
                invitation-id: $request.path.invitation-id
            onenote:
              operationId: invitations.InvitedUser.GetOnenote
              parameters:
                invitation-id: $request.path.invitation-id
            activities:
              operationId: invitations.InvitedUser.ListActivities
              parameters:
                invitation-id: $request.path.invitation-id
            onlineMeetings:
              operationId: invitations.InvitedUser.ListOnlineMeetings
              parameters:
                invitation-id: $request.path.invitation-id
            presence:
              operationId: invitations.InvitedUser.GetPresence
              parameters:
                invitation-id: $request.path.invitation-id
            authentication:
              operationId: invitations.InvitedUser.GetAuthentication
              parameters:
                invitation-id: $request.path.invitation-id
            chats:
              operationId: invitations.InvitedUser.ListChats
              parameters:
                invitation-id: $request.path.invitation-id
            joinedTeams:
              operationId: invitations.InvitedUser.ListJoinedTeams
              parameters:
                invitation-id: $request.path.invitation-id
            teamwork:
              operationId: invitations.InvitedUser.GetTeamwork
              parameters:
                invitation-id: $request.path.invitation-id
            todo:
              operationId: invitations.InvitedUser.GetTodo
              parameters:
                invitation-id: $request.path.invitation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/invitations/{invitation-id}/invitedUser/$ref':
    get:
      tags:
        - invitations.user
      summary: Get ref of invitedUser from invitations
      operationId: invitations_GetRefInvitedUser
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
          links:
            appRoleAssignments:
              operationId: invitations.InvitedUser.ListAppRoleAssignments
              parameters:
                invitation-id: $request.path.invitation-id
            createdObjects:
              operationId: invitations.InvitedUser.ListCreatedObjects
              parameters:
                invitation-id: $request.path.invitation-id
            directReports:
              operationId: invitations.InvitedUser.ListDirectReports
              parameters:
                invitation-id: $request.path.invitation-id
            licenseDetails:
              operationId: invitations.InvitedUser.ListLicenseDetails
              parameters:
                invitation-id: $request.path.invitation-id
            manager:
              operationId: invitations.InvitedUser.GetManager
              parameters:
                invitation-id: $request.path.invitation-id
            memberOf:
              operationId: invitations.InvitedUser.ListMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            oauth2PermissionGrants:
              operationId: invitations.InvitedUser.ListOauth2PermissionGrants
              parameters:
                invitation-id: $request.path.invitation-id
            ownedDevices:
              operationId: invitations.InvitedUser.ListOwnedDevices
              parameters:
                invitation-id: $request.path.invitation-id
            ownedObjects:
              operationId: invitations.InvitedUser.ListOwnedObjects
              parameters:
                invitation-id: $request.path.invitation-id
            registeredDevices:
              operationId: invitations.InvitedUser.ListRegisteredDevices
              parameters:
                invitation-id: $request.path.invitation-id
            scopedRoleMemberOf:
              operationId: invitations.InvitedUser.ListScopedRoleMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            transitiveMemberOf:
              operationId: invitations.InvitedUser.ListTransitiveMemberOf
              parameters:
                invitation-id: $request.path.invitation-id
            calendar:
              operationId: invitations.InvitedUser.GetCalendar
              parameters:
                invitation-id: $request.path.invitation-id
            calendarGroups:
              operationId: invitations.InvitedUser.ListCalendarGroups
              parameters:
                invitation-id: $request.path.invitation-id
            calendars:
              operationId: invitations.InvitedUser.ListCalendars
              parameters:
                invitation-id: $request.path.invitation-id
            calendarView:
              operationId: invitations.InvitedUser.ListCalendarView
              parameters:
                invitation-id: $request.path.invitation-id
            contactFolders:
              operationId: invitations.InvitedUser.ListContactFolders
              parameters:
                invitation-id: $request.path.invitation-id
            contacts:
              operationId: invitations.InvitedUser.ListContacts
              parameters:
                invitation-id: $request.path.invitation-id
            events:
              operationId: invitations.InvitedUser.ListEvents
              parameters:
                invitation-id: $request.path.invitation-id
            inferenceClassification:
              operationId: invitations.InvitedUser.GetInferenceClassification
              parameters:
                invitation-id: $request.path.invitation-id
            mailFolders:
              operationId: invitations.InvitedUser.ListMailFolders
              parameters:
                invitation-id: $request.path.invitation-id
            messages:
              operationId: invitations.InvitedUser.ListMessages
              parameters:
                invitation-id: $request.path.invitation-id
            outlook:
              operationId: invitations.InvitedUser.GetOutlook
              parameters:
                invitation-id: $request.path.invitation-id
            people:
              operationId: invitations.InvitedUser.ListPeople
              parameters:
                invitation-id: $request.path.invitation-id
            photo:
              operationId: invitations.InvitedUser.GetPhoto
              parameters:
                invitation-id: $request.path.invitation-id
            photos:
              operationId: invitations.InvitedUser.ListPhotos
              parameters:
                invitation-id: $request.path.invitation-id
            drive:
              operationId: invitations.InvitedUser.GetDrive
              parameters:
                invitation-id: $request.path.invitation-id
            drives:
              operationId: invitations.InvitedUser.ListDrives
              parameters:
                invitation-id: $request.path.invitation-id
            followedSites:
              operationId: invitations.InvitedUser.ListFollowedSites
              parameters:
                invitation-id: $request.path.invitation-id
            extensions:
              operationId: invitations.InvitedUser.ListExtensions
              parameters:
                invitation-id: $request.path.invitation-id
            agreementAcceptances:
              operationId: invitations.InvitedUser.ListAgreementAcceptances
              parameters:
                invitation-id: $request.path.invitation-id
            managedDevices:
              operationId: invitations.InvitedUser.ListManagedDevices
              parameters:
                invitation-id: $request.path.invitation-id
            managedAppRegistrations:
              operationId: invitations.InvitedUser.ListManagedAppRegistrations
              parameters:
                invitation-id: $request.path.invitation-id
            deviceManagementTroubleshootingEvents:
              operationId: invitations.InvitedUser.ListDeviceManagementTroubleshootingEvents
              parameters:
                invitation-id: $request.path.invitation-id
            planner:
              operationId: invitations.InvitedUser.GetPlanner
              parameters:
                invitation-id: $request.path.invitation-id
            insights:
              operationId: invitations.InvitedUser.GetInsights
              parameters:
                invitation-id: $request.path.invitation-id
            settings:
              operationId: invitations.InvitedUser.GetSettings
              parameters:
                invitation-id: $request.path.invitation-id
            onenote:
              operationId: invitations.InvitedUser.GetOnenote
              parameters:
                invitation-id: $request.path.invitation-id
            activities:
              operationId: invitations.InvitedUser.ListActivities
              parameters:
                invitation-id: $request.path.invitation-id
            onlineMeetings:
              operationId: invitations.InvitedUser.ListOnlineMeetings
              parameters:
                invitation-id: $request.path.invitation-id
            presence:
              operationId: invitations.InvitedUser.GetPresence
              parameters:
                invitation-id: $request.path.invitation-id
            authentication:
              operationId: invitations.InvitedUser.GetAuthentication
              parameters:
                invitation-id: $request.path.invitation-id
            chats:
              operationId: invitations.InvitedUser.ListChats
              parameters:
                invitation-id: $request.path.invitation-id
            joinedTeams:
              operationId: invitations.InvitedUser.ListJoinedTeams
              parameters:
                invitation-id: $request.path.invitation-id
            teamwork:
              operationId: invitations.InvitedUser.GetTeamwork
              parameters:
                invitation-id: $request.path.invitation-id
            todo:
              operationId: invitations.InvitedUser.GetTodo
              parameters:
                invitation-id: $request.path.invitation-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - invitations.user
      summary: Update the ref of navigation property invitedUser in invitations
      operationId: invitations_SetRefInvitedUser
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - invitations.user
      summary: Delete ref of navigation property invitedUser for invitations
      operationId: invitations_DeleteRefInvitedUser
      parameters:
        - name: invitation-id
          in: path
          description: 'key: id of invitation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: invitation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /oauth2PermissionGrants:
    get:
      tags:
        - oauth2PermissionGrants.oAuth2PermissionGrant
      summary: Get entities from oauth2PermissionGrants
      operationId: oauth2PermissionGrants.oAuth2PermissionGrant_ListOAuth2PermissionGrant
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - clientId
                - clientId desc
                - consentType
                - consentType desc
                - principalId
                - principalId desc
                - resourceId
                - resourceId desc
                - scope
                - scope desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of oAuth2PermissionGrant
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - oauth2PermissionGrants.oAuth2PermissionGrant
      summary: Add new entity to oauth2PermissionGrants
      operationId: oauth2PermissionGrants.oAuth2PermissionGrant_CreateOAuth2PermissionGrant
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/oauth2PermissionGrants/{oAuth2PermissionGrant-id}':
    get:
      tags:
        - oauth2PermissionGrants.oAuth2PermissionGrant
      summary: Get entity from oauth2PermissionGrants by key
      operationId: oauth2PermissionGrants.oAuth2PermissionGrant_GetOAuth2PermissionGrant
      parameters:
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - clientId
                - consentType
                - principalId
                - resourceId
                - scope
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - oauth2PermissionGrants.oAuth2PermissionGrant
      summary: Update entity in oauth2PermissionGrants
      operationId: oauth2PermissionGrants.oAuth2PermissionGrant_UpdateOAuth2PermissionGrant
      parameters:
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - oauth2PermissionGrants.oAuth2PermissionGrant
      summary: Delete entity from oauth2PermissionGrants
      operationId: oauth2PermissionGrants.oAuth2PermissionGrant_DeleteOAuth2PermissionGrant
      parameters:
        - name: oAuth2PermissionGrant-id
          in: path
          description: 'key: id of oAuth2PermissionGrant'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: oAuth2PermissionGrant
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /oauth2PermissionGrants/microsoft.graph.delta():
    get:
      tags:
        - oauth2PermissionGrants.Functions
      summary: Invoke function delta
      operationId: oauth2PermissionGrants_delta
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.oAuth2PermissionGrant'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  '/organization/{organization-id}/certificateBasedAuthConfiguration':
    get:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Get certificateBasedAuthConfiguration from organization
      operationId: organization_ListCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - certificateAuthorities
                - certificateAuthorities desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - certificateAuthorities
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of certificateBasedAuthConfiguration
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.certificateBasedAuthConfiguration'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/certificateBasedAuthConfiguration/{certificateBasedAuthConfiguration-id}/$ref':
    delete:
      tags:
        - organization.certificateBasedAuthConfiguration
      summary: Delete ref of navigation property certificateBasedAuthConfiguration for organization
      operationId: organization_DeleteRefCertificateBasedAuthConfiguration
      parameters:
        - name: organization-id
          in: path
          description: 'key: id of organization'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: organization
        - name: certificateBasedAuthConfiguration-id
          in: path
          description: 'key: id of certificateBasedAuthConfiguration'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: certificateBasedAuthConfiguration
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
        - name: '@id'
          in: query
          description: Delete Uri
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/organization/{organization-id}/certificateBasedAuthConfiguration/$ref':
    get:
      tags:
[...]
