openapi: 3.0.1
info:
  title: People
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/insights':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get insights from users
      operationId: users_GetInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - shared
                - trending
                - used
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - shared
                - trending
                - used
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
          links:
            shared:
              operationId: users.Insights.ListShared
              parameters:
                user-id: $request.path.user-id
            trending:
              operationId: users.Insights.ListTrending
              parameters:
                user-id: $request.path.user-id
            used:
              operationId: users.Insights.ListUsed
              parameters:
                user-id: $request.path.user-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property insights in users
      operationId: users_UpdateInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.officeGraphInsights'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property insights for users
      operationId: users_DeleteInsights
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      operationId: users.insights_ListShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastShared
                - lastShared desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
                - sharingHistory
                - sharingHistory desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastShared
                - resourceReference
                - resourceVisualization
                - sharingHistory
                - lastSharedMethod
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastSharedMethod
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sharedInsight
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sharedInsight'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to shared for users
      operationId: users.insights_CreateShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get shared from users
      operationId: users.insights_GetShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastShared
                - resourceReference
                - resourceVisualization
                - sharingHistory
                - lastSharedMethod
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - lastSharedMethod
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
          links:
            lastSharedMethod:
              operationId: users.insights.Shared.GetLastSharedMethod
              parameters:
                user-id: $request.path.user-id
                sharedInsight-id: $request.path.sharedInsight-id
            resource:
              operationId: users.insights.Shared.GetResource
              parameters:
                user-id: $request.path.user-id
                sharedInsight-id: $request.path.sharedInsight-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property shared in users
      operationId: users.insights_UpdateShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sharedInsight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property shared for users
      operationId: users.insights_DeleteShared
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get lastSharedMethod from users
      operationId: users.insights.shared_GetLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod/$ref':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get ref of lastSharedMethod from users
      operationId: users.insights.shared_GetRefLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.officeGraphInsights
      summary: Update the ref of navigation property lastSharedMethod in users
      operationId: users.insights.shared_SetRefLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete ref of navigation property lastSharedMethod for users
      operationId: users.insights.shared_DeleteRefLastSharedMethod
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      operationId: users.insights.shared_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/shared/{sharedInsight-id}/resource/$ref':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get ref of resource from users
      operationId: users.insights.shared_GetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.officeGraphInsights
      summary: Update the ref of navigation property resource in users
      operationId: users.insights.shared_SetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete ref of navigation property resource for users
      operationId: users.insights.shared_DeleteRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: sharedInsight-id
          in: path
          description: 'key: id of sharedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sharedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      operationId: users.insights_ListTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
                - weight
                - weight desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - resourceReference
                - resourceVisualization
                - weight
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of trending
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.trending'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to trending for users
      operationId: users.insights_CreateTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get trending from users
      operationId: users.insights_GetTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastModifiedDateTime
                - resourceReference
                - resourceVisualization
                - weight
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.trending'
          links:
            resource:
              operationId: users.insights.Trending.GetResource
              parameters:
                user-id: $request.path.user-id
                trending-id: $request.path.trending-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property trending in users
      operationId: users.insights_UpdateTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.trending'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property trending for users
      operationId: users.insights_DeleteTrending
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      operationId: users.insights.trending_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/trending/{trending-id}/resource/$ref':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get ref of resource from users
      operationId: users.insights.trending_GetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.officeGraphInsights
      summary: Update the ref of navigation property resource in users
      operationId: users.insights.trending_SetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete ref of navigation property resource for users
      operationId: users.insights.trending_DeleteRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: trending-id
          in: path
          description: 'key: id of trending'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: trending
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      operationId: users.insights_ListUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - lastUsed
                - lastUsed desc
                - resourceReference
                - resourceReference desc
                - resourceVisualization
                - resourceVisualization desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastUsed
                - resourceReference
                - resourceVisualization
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of usedInsight
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.usedInsight'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.officeGraphInsights
      summary: Create new navigation property to used for users
      operationId: users.insights_CreateUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get used from users
      operationId: users.insights_GetUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - lastUsed
                - resourceReference
                - resourceVisualization
                - resource
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
          links:
            resource:
              operationId: users.insights.Used.GetResource
              parameters:
                user-id: $request.path.user-id
                usedInsight-id: $request.path.usedInsight-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.officeGraphInsights
      summary: Update the navigation property used in users
      operationId: users.insights_UpdateUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.usedInsight'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete navigation property used for users
      operationId: users.insights_DeleteUsed
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}/resource':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get resource from users
      operationId: users.insights.used_GetResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entity'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/insights/used/{usedInsight-id}/resource/$ref':
    get:
      tags:
        - users.officeGraphInsights
      summary: Get ref of resource from users
      operationId: users.insights.used_GetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
      responses:
        '200':
          description: Retrieved navigation property link
          content:
            application/json:
              schema:
                type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.officeGraphInsights
      summary: Update the ref of navigation property resource in users
      operationId: users.insights.used_SetRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
      requestBody:
        description: New navigation property ref values
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: object
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.officeGraphInsights
      summary: Delete ref of navigation property resource for users
      operationId: users.insights.used_DeleteRefResource
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: usedInsight-id
          in: path
          description: 'key: id of usedInsight'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: usedInsight
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_ListPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - birthday
                - birthday desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - givenName
                - givenName desc
                - imAddress
                - imAddress desc
                - isFavorite
                - isFavorite desc
                - jobTitle
                - jobTitle desc
                - officeLocation
                - officeLocation desc
                - personNotes
                - personNotes desc
                - personType
                - personType desc
                - phones
                - phones desc
                - postalAddresses
                - postalAddresses desc
                - profession
                - profession desc
                - scoredEmailAddresses
                - scoredEmailAddresses desc
                - surname
                - surname desc
                - userPrincipalName
                - userPrincipalName desc
                - websites
                - websites desc
                - yomiCompany
                - yomiCompany desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - givenName
                - imAddress
                - isFavorite
                - jobTitle
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - scoredEmailAddresses
                - surname
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of person
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.person'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.person
      summary: Create new navigation property to people for users
      operationId: users_CreatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/people/{person-id}':
    get:
      tags:
        - users.person
      summary: Get people from users
      operationId: users_GetPeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - birthday
                - companyName
                - department
                - displayName
                - givenName
                - imAddress
                - isFavorite
                - jobTitle
                - officeLocation
                - personNotes
                - personType
                - phones
                - postalAddresses
                - profession
                - scoredEmailAddresses
                - surname
                - userPrincipalName
                - websites
                - yomiCompany
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.person'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.person
      summary: Update the navigation property people in users
      operationId: users_UpdatePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.person'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.person
      summary: Delete navigation property people for users
      operationId: users_DeletePeople
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: person-id
          in: path
          description: 'key: id of person'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: person
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.officeGraphInsights:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: officeGraphInsights
          type: object
          properties:
            shared:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharedInsight'
            trending:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.trending'
            used:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.usedInsight'
          additionalProperties:
            type: object
    microsoft.graph.sharedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: sharedInsight
          type: object
          properties:
            lastShared:
              $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            sharingHistory:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.sharingDetail'
            lastSharedMethod:
              $ref: '#/components/schemas/microsoft.graph.entity'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.trending:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: trending
          type: object
          properties:
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            weight:
              type: number
              format: double
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.usedInsight:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: usedInsight
          type: object
          properties:
            lastUsed:
              $ref: '#/components/schemas/microsoft.graph.usageDetails'
            resourceReference:
              $ref: '#/components/schemas/microsoft.graph.resourceReference'
            resourceVisualization:
              $ref: '#/components/schemas/microsoft.graph.resourceVisualization'
            resource:
              $ref: '#/components/schemas/microsoft.graph.entity'
          additionalProperties:
            type: object
    microsoft.graph.person:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: person
          type: object
          properties:
            birthday:
              type: string
              nullable: true
            companyName:
              type: string
              nullable: true
            department:
              type: string
              nullable: true
            displayName:
              type: string
              nullable: true
            givenName:
              type: string
              nullable: true
            imAddress:
              type: string
              nullable: true
            isFavorite:
              type: boolean
              nullable: true
            jobTitle:
              type: string
              nullable: true
            officeLocation:
              type: string
              nullable: true
            personNotes:
              type: string
              nullable: true
            personType:
              $ref: '#/components/schemas/microsoft.graph.personType'
            phones:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.phone'
            postalAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.location'
            profession:
              type: string
              nullable: true
            scoredEmailAddresses:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.scoredEmailAddress'
            surname:
              type: string
              nullable: true
            userPrincipalName:
              type: string
              nullable: true
            websites:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.website'
            yomiCompany:
              type: string
              nullable: true
          additionalProperties:
            type: object
    microsoft.graph.sharingDetail:
      title: sharingDetail
      type: object
      properties:
        sharedBy:
          $ref: '#/components/schemas/microsoft.graph.insightIdentity'
        sharedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        sharingReference:
          $ref: '#/components/schemas/microsoft.graph.resourceReference'
        sharingSubject:
          type: string
          nullable: true
        sharingType:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resourceReference:
      title: resourceReference
      type: object
      properties:
        id:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        webUrl:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.resourceVisualization:
      title: resourceVisualization
      type: object
      properties:
        containerDisplayName:
          type: string
          nullable: true
        containerType:
          type: string
          nullable: true
        containerWebUrl:
          type: string
          nullable: true
        mediaType:
          type: string
          nullable: true
        previewImageUrl:
          type: string
          nullable: true
        previewText:
          type: string
          nullable: true
        title:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.usageDetails:
      title: usageDetails
      type: object
      properties:
        lastAccessedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        lastModifiedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.personType:
      title: personType
      type: object
      properties:
        class:
          type: string
          nullable: true
        subclass:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phone:
      title: phone
      type: object
      properties:
        language:
          type: string
          nullable: true
        number:
          type: string
          nullable: true
        region:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.phoneType'
      additionalProperties:
        type: object
    microsoft.graph.location:
      title: location
      type: object
      properties:
        address:
          $ref: '#/components/schemas/microsoft.graph.physicalAddress'
        coordinates:
          $ref: '#/components/schemas/microsoft.graph.outlookGeoCoordinates'
        displayName:
          type: string
          nullable: true
        locationEmailAddress:
          type: string
          nullable: true
        locationType:
          $ref: '#/components/schemas/microsoft.graph.locationType'
        locationUri:
          type: string
          nullable: true
        uniqueId:
          type: string
          nullable: true
        uniqueIdType:
          $ref: '#/components/schemas/microsoft.graph.locationUniqueIdType'
      additionalProperties:
        type: object
    microsoft.graph.scoredEmailAddress:
      title: scoredEmailAddress
      type: object
      properties:
        address:
          type: string
          nullable: true
        itemId:
          type: string
          nullable: true
        relevanceScore:
          type: number
          format: double
          nullable: true
        selectionLikelihood:
          $ref: '#/components/schemas/microsoft.graph.selectionLikelihoodInfo'
      additionalProperties:
        type: object
    microsoft.graph.website:
      title: website
      type: object
      properties:
        address:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        type:
          $ref: '#/components/schemas/microsoft.graph.websiteType'
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.insightIdentity:
      title: insightIdentity
      type: object
      properties:
        address:
          type: string
          nullable: true
        displayName:
          type: string
          nullable: true
        id:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.phoneType:
      title: phoneType
      enum:
        - home
        - business
        - mobile
        - other
        - assistant
        - homeFax
        - businessFax
        - otherFax
        - pager
        - radio
      type: string
    microsoft.graph.physicalAddress:
      title: physicalAddress
      type: object
      properties:
        city:
          type: string
          nullable: true
        countryOrRegion:
          type: string
          nullable: true
        postalCode:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        street:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.outlookGeoCoordinates:
      title: outlookGeoCoordinates
      type: object
      properties:
        accuracy:
          type: number
          format: double
          nullable: true
        altitude:
          type: number
          format: double
          nullable: true
        altitudeAccuracy:
          type: number
          format: double
          nullable: true
        latitude:
          type: number
          format: double
          nullable: true
        longitude:
          type: number
          format: double
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.locationType:
      title: locationType
      enum:
        - default
        - conferenceRoom
        - homeAddress
        - businessAddress
        - geoCoordinates
        - streetAddress
        - hotel
        - restaurant
        - localBusiness
        - postalAddress
      type: string
    microsoft.graph.locationUniqueIdType:
      title: locationUniqueIdType
      enum:
        - unknown
        - locationStore
        - directory
        - private
        - bing
      type: string
    microsoft.graph.selectionLikelihoodInfo:
      title: selectionLikelihoodInfo
      enum:
        - notSpecified
        - high
      type: string
    microsoft.graph.websiteType:
      title: websiteType
      enum:
        - other
        - home
        - work
        - blog
        - profile
      type: string
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]