openapi: 3.0.1
info:
  title: PersonalContacts
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  '/users/{user-id}/contactFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      operationId: users_ListContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contactFolders for users
      operationId: users_CreateContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contactFolders from users
      operationId: users_GetContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
          links:
            childFolders:
              operationId: users.ContactFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
            contacts:
              operationId: users.ContactFolders.ListContacts
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
            multiValueExtendedProperties:
              operationId: users.ContactFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
            singleValueExtendedProperties:
              operationId: users.ContactFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contactFolders in users
      operationId: users_UpdateContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contactFolders for users
      operationId: users_DeleteContactFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      operationId: users.contactFolders_ListChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - parentFolderId
                - parentFolderId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contactFolder
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contactFolder'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to childFolders for users
      operationId: users.contactFolders_CreateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/childFolders/{contactFolder-id1}':
    get:
      tags:
        - users.contactFolder
      summary: Get childFolders from users
      operationId: users.contactFolders_GetChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - parentFolderId
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - childFolders
                - contacts
                - multiValueExtendedProperties
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contactFolder'
          links:
            childFolders:
              operationId: users.contactFolders.ChildFolders.ListChildFolders
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
            contacts:
              operationId: users.contactFolders.ChildFolders.ListContacts
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
            multiValueExtendedProperties:
              operationId: users.contactFolders.ChildFolders.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
            singleValueExtendedProperties:
              operationId: users.contactFolders.ChildFolders.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contactFolder-id1: $request.path.contactFolder-id1
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property childFolders in users
      operationId: users.contactFolders_UpdateChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contactFolder'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property childFolders for users
      operationId: users.contactFolders_DeleteChildFolders
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contactFolder-id1
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      operationId: users.contactFolders_ListContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - assistantName
                - assistantName desc
                - birthday
                - birthday desc
                - businessAddress
                - businessAddress desc
                - businessHomePage
                - businessHomePage desc
                - businessPhones
                - businessPhones desc
                - children
                - children desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - fileAs
                - fileAs desc
                - generation
                - generation desc
                - givenName
                - givenName desc
                - homeAddress
                - homeAddress desc
                - homePhones
                - homePhones desc
                - imAddresses
                - imAddresses desc
                - initials
                - initials desc
                - jobTitle
                - jobTitle desc
                - manager
                - manager desc
                - middleName
                - middleName desc
                - mobilePhone
                - mobilePhone desc
                - nickName
                - nickName desc
                - officeLocation
                - officeLocation desc
                - otherAddress
                - otherAddress desc
                - parentFolderId
                - parentFolderId desc
                - personalNotes
                - personalNotes desc
                - profession
                - profession desc
                - spouseName
                - spouseName desc
                - surname
                - surname desc
                - title
                - title desc
                - yomiCompanyName
                - yomiCompanyName desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - businessAddress
                - businessHomePage
                - businessPhones
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - generation
                - givenName
                - homeAddress
                - homePhones
                - imAddresses
                - initials
                - jobTitle
                - manager
                - middleName
                - mobilePhone
                - nickName
                - officeLocation
                - otherAddress
                - parentFolderId
                - personalNotes
                - profession
                - spouseName
                - surname
                - title
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to contacts for users
      operationId: users.contactFolders_CreateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get contacts from users
      operationId: users.contactFolders_GetContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - businessAddress
                - businessHomePage
                - businessPhones
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - generation
                - givenName
                - homeAddress
                - homePhones
                - imAddresses
                - initials
                - jobTitle
                - manager
                - middleName
                - mobilePhone
                - nickName
                - officeLocation
                - otherAddress
                - parentFolderId
                - personalNotes
                - profession
                - spouseName
                - surname
                - title
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
          links:
            extensions:
              operationId: users.contactFolders.Contacts.ListExtensions
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
            multiValueExtendedProperties:
              operationId: users.contactFolders.Contacts.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
            photo:
              operationId: users.contactFolders.Contacts.GetPhoto
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
            singleValueExtendedProperties:
              operationId: users.contactFolders.Contacts.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contactFolder-id: $request.path.contactFolder-id
                contact-id: $request.path.contact-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property contacts in users
      operationId: users.contactFolders_UpdateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property contacts for users
      operationId: users.contactFolders_DeleteContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      operationId: users.contactFolders.contacts_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to extensions for users
      operationId: users.contactFolders.contacts_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get extensions from users
      operationId: users.contactFolders.contacts_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property extensions in users
      operationId: users.contactFolders.contacts_UpdateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property extensions for users
      operationId: users.contactFolders.contacts_DeleteExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders.contacts_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders.contacts_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders.contacts_DeleteMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo':
    get:
      tags:
        - users.contactFolder
      summary: Get photo from users
      operationId: users.contactFolders.contacts_GetPhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - height
                - width
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property photo in users
      operationId: users.contactFolders.contacts_UpdatePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.profilePhoto'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property photo for users
      operationId: users.contactFolders.contacts_DeletePhoto
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/photo/$value':
    get:
      tags:
        - users.contactFolder
      summary: Get media content for the navigation property photo from users
      operationId: users.contactFolders.contacts_GetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      responses:
        '200':
          description: Retrieved media content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    put:
      tags:
        - users.contactFolder
      summary: Update media content for the navigation property photo in users
      operationId: users.contactFolders.contacts_SetPhotoContent
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New media content.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders.contacts_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders.contacts_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/contacts/{contact-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders.contacts_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders.contacts_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders.contacts_DeleteSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders_ListMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of multiValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to multiValueExtendedProperties for users
      operationId: users.contactFolders_CreateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/multiValueExtendedProperties/{multiValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get multiValueExtendedProperties from users
      operationId: users.contactFolders_GetMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property multiValueExtendedProperties in users
      operationId: users.contactFolders_UpdateMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.multiValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property multiValueExtendedProperties for users
      operationId: users.contactFolders_DeleteMultiValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: multiValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of multiValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: multiValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders_ListSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - value
                - value desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of singleValueLegacyExtendedProperty
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contactFolder
      summary: Create new navigation property to singleValueExtendedProperties for users
      operationId: users.contactFolders_CreateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contactFolders/{contactFolder-id}/singleValueExtendedProperties/{singleValueLegacyExtendedProperty-id}':
    get:
      tags:
        - users.contactFolder
      summary: Get singleValueExtendedProperties from users
      operationId: users.contactFolders_GetSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - value
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contactFolder
      summary: Update the navigation property singleValueExtendedProperties in users
      operationId: users.contactFolders_UpdateSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.singleValueLegacyExtendedProperty'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contactFolder
      summary: Delete navigation property singleValueExtendedProperties for users
      operationId: users.contactFolders_DeleteSingleValueExtendedProperties
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contactFolder-id
          in: path
          description: 'key: id of contactFolder'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contactFolder
        - name: singleValueLegacyExtendedProperty-id
          in: path
          description: 'key: id of singleValueLegacyExtendedProperty'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: singleValueLegacyExtendedProperty
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      operationId: users_ListContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - categories
                - categories desc
                - changeKey
                - changeKey desc
                - createdDateTime
                - createdDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - assistantName
                - assistantName desc
                - birthday
                - birthday desc
                - businessAddress
                - businessAddress desc
                - businessHomePage
                - businessHomePage desc
                - businessPhones
                - businessPhones desc
                - children
                - children desc
                - companyName
                - companyName desc
                - department
                - department desc
                - displayName
                - displayName desc
                - emailAddresses
                - emailAddresses desc
                - fileAs
                - fileAs desc
                - generation
                - generation desc
                - givenName
                - givenName desc
                - homeAddress
                - homeAddress desc
                - homePhones
                - homePhones desc
                - imAddresses
                - imAddresses desc
                - initials
                - initials desc
                - jobTitle
                - jobTitle desc
                - manager
                - manager desc
                - middleName
                - middleName desc
                - mobilePhone
                - mobilePhone desc
                - nickName
                - nickName desc
                - officeLocation
                - officeLocation desc
                - otherAddress
                - otherAddress desc
                - parentFolderId
                - parentFolderId desc
                - personalNotes
                - personalNotes desc
                - profession
                - profession desc
                - spouseName
                - spouseName desc
                - surname
                - surname desc
                - title
                - title desc
                - yomiCompanyName
                - yomiCompanyName desc
                - yomiGivenName
                - yomiGivenName desc
                - yomiSurname
                - yomiSurname desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - businessAddress
                - businessHomePage
                - businessPhones
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - generation
                - givenName
                - homeAddress
                - homePhones
                - imAddresses
                - initials
                - jobTitle
                - manager
                - middleName
                - mobilePhone
                - nickName
                - officeLocation
                - otherAddress
                - parentFolderId
                - personalNotes
                - profession
                - spouseName
                - surname
                - title
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of contact
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.contact'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contact
      summary: Create new navigation property to contacts for users
      operationId: users_CreateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}':
    get:
      tags:
        - users.contact
      summary: Get contacts from users
      operationId: users_GetContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - categories
                - changeKey
                - createdDateTime
                - lastModifiedDateTime
                - assistantName
                - birthday
                - businessAddress
                - businessHomePage
                - businessPhones
                - children
                - companyName
                - department
                - displayName
                - emailAddresses
                - fileAs
                - generation
                - givenName
                - homeAddress
                - homePhones
                - imAddresses
                - initials
                - jobTitle
                - manager
                - middleName
                - mobilePhone
                - nickName
                - officeLocation
                - otherAddress
                - parentFolderId
                - personalNotes
                - profession
                - spouseName
                - surname
                - title
                - yomiCompanyName
                - yomiGivenName
                - yomiSurname
                - extensions
                - multiValueExtendedProperties
                - photo
                - singleValueExtendedProperties
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.contact'
          links:
            extensions:
              operationId: users.Contacts.ListExtensions
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
            multiValueExtendedProperties:
              operationId: users.Contacts.ListMultiValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
            photo:
              operationId: users.Contacts.GetPhoto
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
            singleValueExtendedProperties:
              operationId: users.Contacts.ListSingleValueExtendedProperties
              parameters:
                user-id: $request.path.user-id
                contact-id: $request.path.contact-id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - users.contact
      summary: Update the navigation property contacts in users
      operationId: users_UpdateContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.contact'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - users.contact
      summary: Delete navigation property contacts for users
      operationId: users_DeleteContacts
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/extensions':
    get:
      tags:
        - users.contact
      summary: Get extensions from users
      operationId: users.contacts_ListExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of extension
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.extension'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - users.contact
      summary: Create new navigation property to extensions for users
      operationId: users.contacts_CreateExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.extension'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/users/{user-id}/contacts/{contact-id}/extensions/{extension-id}':
    get:
      tags:
        - users.contact
      summary: Get extensions from users
      operationId: users.contacts_GetExtensions
      parameters:
        - name: user-id
          in: path
          description: 'key: id of user'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: user
        - name: contact-id
          in: path
          description: 'key: id of contact'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: contact
        - name: extension-id
          in: path
          description: 'key: id of extension'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: extension
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.extension'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
[...]
