openapi: 3.0.1
info:
  title: Security
  version: v1.0
servers:
  - url: https://graph.microsoft.com/v1.0/
    description: Core
paths:
  /security:
    get:
      tags:
        - security.security
      summary: Get security
      operationId: security.security_GetSecurity
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alerts
                - secureScoreControlProfiles
                - secureScores
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - alerts
                - secureScoreControlProfiles
                - secureScores
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.security'
          links:
            alerts:
              operationId: security.ListAlerts
            secureScoreControlProfiles:
              operationId: security.ListSecureScoreControlProfiles
            secureScores:
              operationId: security.ListSecureScores
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.security
      summary: Update security
      operationId: security.security_UpdateSecurity
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.security'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/alerts:
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_ListAlerts
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityGroupName
                - activityGroupName desc
                - alertDetections
                - alertDetections desc
                - assignedTo
                - assignedTo desc
                - azureSubscriptionId
                - azureSubscriptionId desc
                - azureTenantId
                - azureTenantId desc
                - category
                - category desc
                - closedDateTime
                - closedDateTime desc
                - cloudAppStates
                - cloudAppStates desc
                - comments
                - comments desc
                - confidence
                - confidence desc
                - createdDateTime
                - createdDateTime desc
                - description
                - description desc
                - detectionIds
                - detectionIds desc
                - eventDateTime
                - eventDateTime desc
                - feedback
                - feedback desc
                - fileStates
                - fileStates desc
                - historyStates
                - historyStates desc
                - hostStates
                - hostStates desc
                - incidentIds
                - incidentIds desc
                - investigationSecurityStates
                - investigationSecurityStates desc
                - lastEventDateTime
                - lastEventDateTime desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - malwareStates
                - malwareStates desc
                - messageSecurityStates
                - messageSecurityStates desc
                - networkConnections
                - networkConnections desc
                - processes
                - processes desc
                - recommendedActions
                - recommendedActions desc
                - registryKeyStates
                - registryKeyStates desc
                - securityResources
                - securityResources desc
                - severity
                - severity desc
                - sourceMaterials
                - sourceMaterials desc
                - status
                - status desc
                - tags
                - tags desc
                - title
                - title desc
                - triggers
                - triggers desc
                - uriClickSecurityStates
                - uriClickSecurityStates desc
                - userStates
                - userStates desc
                - vendorInformation
                - vendorInformation desc
                - vulnerabilityStates
                - vulnerabilityStates desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of alert
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.alert'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.alert
      summary: Create new navigation property to alerts for security
      operationId: security_CreateAlerts
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/alerts/{alert-id}':
    get:
      tags:
        - security.alert
      summary: Get alerts from security
      operationId: security_GetAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityGroupName
                - alertDetections
                - assignedTo
                - azureSubscriptionId
                - azureTenantId
                - category
                - closedDateTime
                - cloudAppStates
                - comments
                - confidence
                - createdDateTime
                - description
                - detectionIds
                - eventDateTime
                - feedback
                - fileStates
                - historyStates
                - hostStates
                - incidentIds
                - investigationSecurityStates
                - lastEventDateTime
                - lastModifiedDateTime
                - malwareStates
                - messageSecurityStates
                - networkConnections
                - processes
                - recommendedActions
                - registryKeyStates
                - securityResources
                - severity
                - sourceMaterials
                - status
                - tags
                - title
                - triggers
                - uriClickSecurityStates
                - userStates
                - vendorInformation
                - vulnerabilityStates
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.alert'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.alert
      summary: Update the navigation property alerts in security
      operationId: security_UpdateAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.alert'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.alert
      summary: Delete navigation property alerts for security
      operationId: security_DeleteAlerts
      parameters:
        - name: alert-id
          in: path
          description: 'key: id of alert'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: alert
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/secureScoreControlProfiles:
    get:
      tags:
        - security.secureScoreControlProfile
      summary: Get secureScoreControlProfiles from security
      operationId: security_ListSecureScoreControlProfiles
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - actionType
                - actionType desc
                - actionUrl
                - actionUrl desc
                - azureTenantId
                - azureTenantId desc
                - complianceInformation
                - complianceInformation desc
                - controlCategory
                - controlCategory desc
                - controlStateUpdates
                - controlStateUpdates desc
                - deprecated
                - deprecated desc
                - implementationCost
                - implementationCost desc
                - lastModifiedDateTime
                - lastModifiedDateTime desc
                - maxScore
                - maxScore desc
                - rank
                - rank desc
                - remediation
                - remediation desc
                - remediationImpact
                - remediationImpact desc
                - service
                - service desc
                - threats
                - threats desc
                - tier
                - tier desc
                - title
                - title desc
                - userImpact
                - userImpact desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - actionUrl
                - azureTenantId
                - complianceInformation
                - controlCategory
                - controlStateUpdates
                - deprecated
                - implementationCost
                - lastModifiedDateTime
                - maxScore
                - rank
                - remediation
                - remediationImpact
                - service
                - threats
                - tier
                - title
                - userImpact
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of secureScoreControlProfile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.secureScoreControlProfile
      summary: Create new navigation property to secureScoreControlProfiles for security
      operationId: security_CreateSecureScoreControlProfiles
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/secureScoreControlProfiles/{secureScoreControlProfile-id}':
    get:
      tags:
        - security.secureScoreControlProfile
      summary: Get secureScoreControlProfiles from security
      operationId: security_GetSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - actionType
                - actionUrl
                - azureTenantId
                - complianceInformation
                - controlCategory
                - controlStateUpdates
                - deprecated
                - implementationCost
                - lastModifiedDateTime
                - maxScore
                - rank
                - remediation
                - remediationImpact
                - service
                - threats
                - tier
                - title
                - userImpact
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.secureScoreControlProfile
      summary: Update the navigation property secureScoreControlProfiles in security
      operationId: security_UpdateSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.secureScoreControlProfile
      summary: Delete navigation property secureScoreControlProfiles for security
      operationId: security_DeleteSecureScoreControlProfiles
      parameters:
        - name: secureScoreControlProfile-id
          in: path
          description: 'key: id of secureScoreControlProfile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScoreControlProfile
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /security/secureScores:
    get:
      tags:
        - security.secureScore
      summary: Get secureScores from security
      operationId: security_ListSecureScores
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activeUserCount
                - activeUserCount desc
                - averageComparativeScores
                - averageComparativeScores desc
                - azureTenantId
                - azureTenantId desc
                - controlScores
                - controlScores desc
                - createdDateTime
                - createdDateTime desc
                - currentScore
                - currentScore desc
                - enabledServices
                - enabledServices desc
                - licensedUserCount
                - licensedUserCount desc
                - maxScore
                - maxScore desc
                - vendorInformation
                - vendorInformation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeUserCount
                - averageComparativeScores
                - azureTenantId
                - controlScores
                - createdDateTime
                - currentScore
                - enabledServices
                - licensedUserCount
                - maxScore
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of secureScore
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.secureScore'
                  '@odata.nextLink':
                    type: string
                additionalProperties:
                  type: object
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - security.secureScore
      summary: Create new navigation property to secureScores for security
      operationId: security_CreateSecureScores
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScore'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScore'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/security/secureScores/{secureScore-id}':
    get:
      tags:
        - security.secureScore
      summary: Get secureScores from security
      operationId: security_GetSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activeUserCount
                - averageComparativeScores
                - azureTenantId
                - controlScores
                - createdDateTime
                - currentScore
                - enabledServices
                - licensedUserCount
                - maxScore
                - vendorInformation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.secureScore'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - security.secureScore
      summary: Update the navigation property secureScores in security
      operationId: security_UpdateSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.secureScore'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - security.secureScore
      summary: Delete navigation property secureScores for security
      operationId: security_DeleteSecureScores
      parameters:
        - name: secureScore-id
          in: path
          description: 'key: id of secureScore'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: secureScore
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
components:
  schemas:
    microsoft.graph.security:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: security
          type: object
          properties:
            alerts:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alert'
            secureScoreControlProfiles:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlProfile'
            secureScores:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.secureScore'
          additionalProperties:
            type: object
    microsoft.graph.alert:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: alert
          type: object
          properties:
            activityGroupName:
              type: string
              nullable: true
            alertDetections:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alertDetection'
            assignedTo:
              type: string
              nullable: true
            azureSubscriptionId:
              type: string
              nullable: true
            azureTenantId:
              type: string
            category:
              type: string
              nullable: true
            closedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            cloudAppStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.cloudAppSecurityState'
            comments:
              type: array
              items:
                type: string
                nullable: true
            confidence:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            description:
              type: string
              nullable: true
            detectionIds:
              type: array
              items:
                type: string
                nullable: true
            eventDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            feedback:
              $ref: '#/components/schemas/microsoft.graph.alertFeedback'
            fileStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.fileSecurityState'
            historyStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alertHistoryState'
            hostStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.hostSecurityState'
            incidentIds:
              type: array
              items:
                type: string
                nullable: true
            investigationSecurityStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.investigationSecurityState'
            lastEventDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            malwareStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.malwareState'
            messageSecurityStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.messageSecurityState'
            networkConnections:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.networkConnection'
            processes:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.process'
            recommendedActions:
              type: array
              items:
                type: string
                nullable: true
            registryKeyStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.registryKeyState'
            securityResources:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.securityResource'
            severity:
              $ref: '#/components/schemas/microsoft.graph.alertSeverity'
            sourceMaterials:
              type: array
              items:
                type: string
                nullable: true
            status:
              $ref: '#/components/schemas/microsoft.graph.alertStatus'
            tags:
              type: array
              items:
                type: string
                nullable: true
            title:
              type: string
              nullable: true
            triggers:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.alertTrigger'
            uriClickSecurityStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.uriClickSecurityState'
            userStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.userSecurityState'
            vendorInformation:
              $ref: '#/components/schemas/microsoft.graph.securityVendorInformation'
            vulnerabilityStates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.vulnerabilityState'
          additionalProperties:
            type: object
    microsoft.graph.secureScoreControlProfile:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: secureScoreControlProfile
          type: object
          properties:
            actionType:
              type: string
              nullable: true
            actionUrl:
              type: string
              nullable: true
            azureTenantId:
              type: string
            complianceInformation:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.complianceInformation'
            controlCategory:
              type: string
              nullable: true
            controlStateUpdates:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.secureScoreControlStateUpdate'
            deprecated:
              type: boolean
              nullable: true
            implementationCost:
              type: string
              nullable: true
            lastModifiedDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            maxScore:
              type: number
              format: double
              nullable: true
            rank:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            remediation:
              type: string
              nullable: true
            remediationImpact:
              type: string
              nullable: true
            service:
              type: string
              nullable: true
            threats:
              type: array
              items:
                type: string
                nullable: true
            tier:
              type: string
              nullable: true
            title:
              type: string
              nullable: true
            userImpact:
              type: string
              nullable: true
            vendorInformation:
              $ref: '#/components/schemas/microsoft.graph.securityVendorInformation'
          additionalProperties:
            type: object
    microsoft.graph.secureScore:
      allOf:
        - $ref: '#/components/schemas/microsoft.graph.entity'
        - title: secureScore
          type: object
          properties:
            activeUserCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            averageComparativeScores:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.averageComparativeScore'
            azureTenantId:
              type: string
            controlScores:
              type: array
              items:
                $ref: '#/components/schemas/microsoft.graph.controlScore'
            createdDateTime:
              pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
              type: string
              format: date-time
              nullable: true
            currentScore:
              type: number
              format: double
              nullable: true
            enabledServices:
              type: array
              items:
                type: string
                nullable: true
            licensedUserCount:
              maximum: 2147483647
              minimum: -2147483648
              type: integer
              format: int32
              nullable: true
            maxScore:
              type: number
              format: double
              nullable: true
            vendorInformation:
              $ref: '#/components/schemas/microsoft.graph.securityVendorInformation'
          additionalProperties:
            type: object
    microsoft.graph.entity:
      title: entity
      type: object
      properties:
        id:
          type: string
      additionalProperties:
        type: object
    microsoft.graph.alertDetection:
      title: alertDetection
      type: object
      properties:
        detectionType:
          type: string
          nullable: true
        method:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.cloudAppSecurityState:
      title: cloudAppSecurityState
      type: object
      properties:
        destinationServiceIp:
          type: string
          nullable: true
        destinationServiceName:
          type: string
          nullable: true
        riskScore:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.alertFeedback:
      title: alertFeedback
      enum:
        - unknown
        - truePositive
        - falsePositive
        - benignPositive
        - unknownFutureValue
      type: string
    microsoft.graph.fileSecurityState:
      title: fileSecurityState
      type: object
      properties:
        fileHash:
          $ref: '#/components/schemas/microsoft.graph.fileHash'
        name:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        riskScore:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.alertHistoryState:
      title: alertHistoryState
      type: object
      properties:
        appId:
          type: string
          nullable: true
        assignedTo:
          type: string
          nullable: true
        comments:
          type: array
          items:
            type: string
            nullable: true
        feedback:
          $ref: '#/components/schemas/microsoft.graph.alertFeedback'
        status:
          $ref: '#/components/schemas/microsoft.graph.alertStatus'
        updatedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        user:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.hostSecurityState:
      title: hostSecurityState
      type: object
      properties:
        fqdn:
          type: string
          nullable: true
        isAzureAdJoined:
          type: boolean
          nullable: true
        isAzureAdRegistered:
          type: boolean
          nullable: true
        isHybridAzureDomainJoined:
          type: boolean
          nullable: true
        netBiosName:
          type: string
          nullable: true
        os:
          type: string
          nullable: true
        privateIpAddress:
          type: string
          nullable: true
        publicIpAddress:
          type: string
          nullable: true
        riskScore:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.investigationSecurityState:
      title: investigationSecurityState
      type: object
      properties:
        name:
          type: string
          nullable: true
        status:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.malwareState:
      title: malwareState
      type: object
      properties:
        category:
          type: string
          nullable: true
        family:
          type: string
          nullable: true
        name:
          type: string
          nullable: true
        severity:
          type: string
          nullable: true
        wasRunning:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.messageSecurityState:
      title: messageSecurityState
      type: object
      properties:
        connectingIP:
          type: string
          nullable: true
        deliveryAction:
          type: string
          nullable: true
        deliveryLocation:
          type: string
          nullable: true
        directionality:
          type: string
          nullable: true
        internetMessageId:
          type: string
          nullable: true
        messageFingerprint:
          type: string
          nullable: true
        messageReceivedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        messageSubject:
          type: string
          nullable: true
        networkMessageId:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.networkConnection:
      title: networkConnection
      type: object
      properties:
        applicationName:
          type: string
          nullable: true
        destinationAddress:
          type: string
          nullable: true
        destinationDomain:
          type: string
          nullable: true
        destinationLocation:
          type: string
          nullable: true
        destinationPort:
          type: string
          nullable: true
        destinationUrl:
          type: string
          nullable: true
        direction:
          $ref: '#/components/schemas/microsoft.graph.connectionDirection'
        domainRegisteredDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        localDnsName:
          type: string
          nullable: true
        natDestinationAddress:
          type: string
          nullable: true
        natDestinationPort:
          type: string
          nullable: true
        natSourceAddress:
          type: string
          nullable: true
        natSourcePort:
          type: string
          nullable: true
        protocol:
          $ref: '#/components/schemas/microsoft.graph.securityNetworkProtocol'
        riskScore:
          type: string
          nullable: true
        sourceAddress:
          type: string
          nullable: true
        sourceLocation:
          type: string
          nullable: true
        sourcePort:
          type: string
          nullable: true
        status:
          $ref: '#/components/schemas/microsoft.graph.connectionStatus'
        urlParameters:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.process:
      title: process
      type: object
      properties:
        accountName:
          type: string
          nullable: true
        commandLine:
          type: string
          nullable: true
        createdDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        fileHash:
          $ref: '#/components/schemas/microsoft.graph.fileHash'
        integrityLevel:
          $ref: '#/components/schemas/microsoft.graph.processIntegrityLevel'
        isElevated:
          type: boolean
          nullable: true
        name:
          type: string
          nullable: true
        parentProcessCreatedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        parentProcessId:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        parentProcessName:
          type: string
          nullable: true
        path:
          type: string
          nullable: true
        processId:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.registryKeyState:
      title: registryKeyState
      type: object
      properties:
        hive:
          $ref: '#/components/schemas/microsoft.graph.registryHive'
        key:
          type: string
          nullable: true
        oldKey:
          type: string
          nullable: true
        oldValueData:
          type: string
          nullable: true
        oldValueName:
          type: string
          nullable: true
        operation:
          $ref: '#/components/schemas/microsoft.graph.registryOperation'
        processId:
          maximum: 2147483647
          minimum: -2147483648
          type: integer
          format: int32
          nullable: true
        valueData:
          type: string
          nullable: true
        valueName:
          type: string
          nullable: true
        valueType:
          $ref: '#/components/schemas/microsoft.graph.registryValueType'
      additionalProperties:
        type: object
    microsoft.graph.securityResource:
      title: securityResource
      type: object
      properties:
        resource:
          type: string
          nullable: true
        resourceType:
          $ref: '#/components/schemas/microsoft.graph.securityResourceType'
      additionalProperties:
        type: object
    microsoft.graph.alertSeverity:
      title: alertSeverity
      enum:
        - unknown
        - informational
        - low
        - medium
        - high
        - unknownFutureValue
      type: string
    microsoft.graph.alertStatus:
      title: alertStatus
      enum:
        - unknown
        - newAlert
        - inProgress
        - resolved
        - dismissed
        - unknownFutureValue
      type: string
    microsoft.graph.alertTrigger:
      title: alertTrigger
      type: object
      properties:
        name:
          type: string
          nullable: true
        type:
          type: string
          nullable: true
        value:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.uriClickSecurityState:
      title: uriClickSecurityState
      type: object
      properties:
        clickAction:
          type: string
          nullable: true
        clickDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        id:
          type: string
          nullable: true
        sourceId:
          type: string
          nullable: true
        uriDomain:
          type: string
          nullable: true
        verdict:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.userSecurityState:
      title: userSecurityState
      type: object
      properties:
        aadUserId:
          type: string
          nullable: true
        accountName:
          type: string
          nullable: true
        domainName:
          type: string
          nullable: true
        emailRole:
          $ref: '#/components/schemas/microsoft.graph.emailRole'
        isVpn:
          type: boolean
          nullable: true
        logonDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
        logonId:
          type: string
          nullable: true
        logonIp:
          type: string
          nullable: true
        logonLocation:
          type: string
          nullable: true
        logonType:
          $ref: '#/components/schemas/microsoft.graph.logonType'
        onPremisesSecurityIdentifier:
          type: string
          nullable: true
        riskScore:
          type: string
          nullable: true
        userAccountType:
          $ref: '#/components/schemas/microsoft.graph.userAccountSecurityType'
        userPrincipalName:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.securityVendorInformation:
      title: securityVendorInformation
      type: object
      properties:
        provider:
          type: string
          nullable: true
        providerVersion:
          type: string
          nullable: true
        subProvider:
          type: string
          nullable: true
        vendor:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.vulnerabilityState:
      title: vulnerabilityState
      type: object
      properties:
        cve:
          type: string
          nullable: true
        severity:
          type: string
          nullable: true
        wasRunning:
          type: boolean
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.complianceInformation:
      title: complianceInformation
      type: object
      properties:
        certificationControls:
          type: array
          items:
            $ref: '#/components/schemas/microsoft.graph.certificationControl'
        certificationName:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.secureScoreControlStateUpdate:
      title: secureScoreControlStateUpdate
      type: object
      properties:
        assignedTo:
          type: string
          nullable: true
        comment:
          type: string
          nullable: true
        state:
          type: string
          nullable: true
        updatedBy:
          type: string
          nullable: true
        updatedDateTime:
          pattern: '^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$'
          type: string
          format: date-time
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.averageComparativeScore:
      title: averageComparativeScore
      type: object
      properties:
        averageScore:
          type: number
          format: double
          nullable: true
        basis:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.controlScore:
      title: controlScore
      type: object
      properties:
        controlCategory:
          type: string
          nullable: true
        controlName:
          type: string
          nullable: true
        description:
          type: string
          nullable: true
        score:
          type: number
          format: double
          nullable: true
      additionalProperties:
        type: object
    odata.error:
      required:
        - error
      type: object
      properties:
        error:
          $ref: '#/components/schemas/odata.error.main'
      additionalProperties:
        type: object
    microsoft.graph.fileHash:
      title: fileHash
      type: object
      properties:
        hashType:
          $ref: '#/components/schemas/microsoft.graph.fileHashType'
        hashValue:
          type: string
          nullable: true
      additionalProperties:
        type: object
    microsoft.graph.connectionDirection:
      title: connectionDirection
      enum:
        - unknown
        - inbound
        - outbound
        - unknownFutureValue
      type: string
    microsoft.graph.securityNetworkProtocol:
      title: securityNetworkProtocol
      enum:
        - unknown
        - ip
        - icmp
        - igmp
        - ggp
        - ipv4
        - tcp
        - pup
        - udp
        - idp
        - ipv6
        - ipv6RoutingHeader
        - ipv6FragmentHeader
        - ipSecEncapsulatingSecurityPayload
        - ipSecAuthenticationHeader
        - icmpV6
        - ipv6NoNextHeader
        - ipv6DestinationOptions
        - nd
        - raw
        - ipx
        - spx
        - spxII
        - unknownFutureValue
      type: string
    microsoft.graph.connectionStatus:
      title: connectionStatus
      enum:
        - unknown
        - attempted
        - succeeded
        - blocked
        - failed
        - unknownFutureValue
      type: string
    microsoft.graph.processIntegrityLevel:
      title: processIntegrityLevel
      enum:
        - unknown
        - untrusted
        - low
        - medium
        - high
        - system
        - unknownFutureValue
      type: string
    microsoft.graph.registryHive:
      title: registryHive
      enum:
        - unknown
        - currentConfig
        - currentUser
        - localMachineSam
        - localMachineSecurity
        - localMachineSoftware
        - localMachineSystem
        - usersDefault
        - unknownFutureValue
      type: string
    microsoft.graph.registryOperation:
      title: registryOperation
      enum:
        - unknown
        - create
        - modify
        - delete
        - unknownFutureValue
      type: string
    microsoft.graph.registryValueType:
      title: registryValueType
      enum:
        - unknown
        - binary
        - dword
        - dwordLittleEndian
        - dwordBigEndian
        - expandSz
        - link
        - multiSz
        - none
        - qword
        - qwordlittleEndian
        - sz
        - unknownFutureValue
      type: string
    microsoft.graph.securityResourceType:
      title: securityResourceType
      enum:
        - unknown
        - attacked
        - related
        - unknownFutureValue
      type: string
    microsoft.graph.emailRole:
      title: emailRole
      enum:
        - unknown
        - sender
        - recipient
        - unknownFutureValue
      type: string
    microsoft.graph.logonType:
      title: logonType
      enum:
        - unknown
        - interactive
        - remoteInteractive
        - network
        - batch
        - service
        - unknownFutureValue
      type: string
    microsoft.graph.userAccountSecurityType:
      title: userAccountSecurityType
      enum:
        - unknown
        - standard
        - power
        - administrator
        - unknownFutureValue
      type: string
    microsoft.graph.certificationControl:
      title: certificationControl
      type: object
      properties:
        name:
          type: string
          nullable: true
        url:
          type: string
          nullable: true
      additionalProperties:
        type: object
    odata.error.main:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/odata.error.detail'
        innererror:
          type: object
          additionalProperties:
            type: object
          description: The structure of this object is service-specific
      additionalProperties:
        type: object
    microsoft.graph.fileHashType:
      title: fileHashType
      enum:
        - unknown
        - sha1
        - sha256
        - md5
        - authenticodeHash256
        - lsHash
        - ctph
        - unknownFutureValue
      type: string
    odata.error.detail:
      required:
        - code
        - message
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        target:
          type: string
      additionalProperties:
        type: object
  responses:
    error:
      description: error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/odata.error'
  parameters:
    top:
      name: $top
      in: query
      description: Show only the first n items
      schema:
        minimum: 0
        type: integer
      example: 50
    skip:
      name: $skip
      in: query
      description: Skip the first n items
      schema:
        minimum: 0
        type: integer
    search:
      name: $search
      in: query
      description: Search items by search phrases
      schema:
        type: string
    filter:
      name: $filter
      in: query
      description: Filter items by property values
      schema:
        type: string
    count:
      name: $count
      in: query
      description: Include count of items
      schema:
        type: boolean
  securitySchemes:
    azureaadv2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://login.microsoftonline.com/common/oauth2/v2.0/authorize
          tokenUrl: https://login.microsoftonline.com/common/oauth2/v2.0/token
          scopes: { }
security:
  - azureaadv2: [ ]